n8n-automations/TechnoStore_v17_sales_responder.json
{
  "name": "TechnoStore - v17 Sales Responder",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4628134c-0001-3b8d-5568-9587138f50e1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json || {};\nconst context = data.context || {};\nconst router = data.router_output || {};\nconst store = context.store || {};\nconst website = String(store.store_website_url || 'https://puntotechno.com').trim();\nconst recentMessages = Array.isArray(context.recent_messages) ? context.recent_messages : [];\nconst candidateProducts = Array.isArray(context.candidate_products) ? context.candidate_products : [];\n\nconst curatedCandidates = candidateProducts.slice(0, router.route_key === 'exact_product_quote' ? 3 : 4).map((product) => ({\n  product_key: product.product_key,\n  product_name: product.product_name,\n  condition: product.condition,\n  storage_gb: product.storage_gb,\n  color: product.color,\n  in_stock: product.in_stock,\n  delivery_days: product.delivery_days,\n  price_ars: product.price_ars,\n  promo_price_ars: product.promo_price_ars,\n  price_usd: product.price_usd,\n  image_url: product.image_url,\n}));\n\nconst promptPayload = {\n  route_key: router.route_key,\n  search_mode: router.search_mode,\n  should_offer_store_url: router.should_offer_store_url === true,\n  first_interaction: recentMessages.length <= 1,\n  user_message: String(data.user_message || ''),\n  customer: context.customer || {},\n  store: {\n    store_location_name: store.store_location_name || 'TechnoStore Salta',\n    store_address: store.store_address || '',\n    store_payment_methods: store.store_payment_methods || '',\n    store_shipping_policy: store.store_shipping_policy || '',\n    store_warranty_new: store.store_warranty_new || '',\n    store_warranty_used: store.store_warranty_used || '',\n    store_website_url: website,\n  },\n  candidate_products: curatedCandidates,\n};\n\nconst prompt = [\n  'Respondé al siguiente turno comercial usando SOLO los datos provistos.',\n  'Devolvé SOLO JSON válido.',\n  'Esquema esperado:',\n  JSON.stringify({\n    reply_text: 'string',\n    selected_product_keys: ['string'],\n    actions: ['attach_store_url'],\n    state_delta: {\n      intent_key: 'price_inquiry',\n      funnel_stage: 'interested',\n      lead_score_delta: 8,\n      share_store_location: false,\n      selected_product_keys: ['string'],\n      tags_to_add: ['catalog_interest'],\n      tags_to_remove: [],\n      payment_method_key: null,\n      summary: 'string',\n    },\n  }),\n  'Datos del turno:',\n  JSON.stringify(promptPayload, null, 2),\n].join('\\n\\n');\n\nreturn [{\n  json: {\n    ...data,\n    responder_model_name: String($env.GEMINI_MODEL_SALES || 'models/gemini-2.5-flash'),\n    chatInput: prompt,\n  }\n}];"
      },
      "id": "5d97005f-26e9-2275-fdb3-f29e29ed9f20",
      "name": "Build Sales Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos el vendedor de WhatsApp de TechnoStore Salta. Respondé en español natural, humano, breve y comercial. Sin markdown, sin viñetas. No inventes stock, precios, cuotas, links ni modelos. Usá únicamente los hechos provistos. Si la consulta es amplia o de primer contacto y should_offer_store_url es true, podés mencionar puntotechno.com una sola vez de forma natural. Si el usuario pidió un modelo exacto, respondé primero sobre ese modelo. El sitio es secundario. Cerrá con una sola pregunta concreta si ayuda a avanzar la venta. Devolvé SOLO JSON válido con las claves: reply_text, selected_product_keys, actions, state_delta. No agregues explicaciones fuera del JSON.",
          "maxIterations": 1
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "e39c94c3-3fc2-e442-0f1b-30f8f20a8251",
      "name": "AI Agent (Sales)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "={{ $json.responder_model_name || \"models/gemini-2.5-flash\" }}",
        "options": {
          "temperature": 0.35
        }
      },
      "id": "3f61f723-8d23-8e91-f1d3-2254a6aa7233",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        860,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "kaLPLSecsHfc5vlx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Build Sales Prompt').first().json || {};\nconst raw = $input.first().json || {};\n\nconst fallbackExactCandidate = Array.isArray(base.context?.candidate_products) ? base.context.candidate_products[0] : null;\nconst rawText = String(raw.output || raw.text || '').trim();\n\nlet parsed = null;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch (innerError) {\n      parsed = null;\n    }\n  }\n}\n\nconst fallbackReply = (() => {\n  if (base.router_output?.route_key === 'exact_product_quote' && fallbackExactCandidate) {\n    const priceArs = fallbackExactCandidate.promo_price_ars || fallbackExactCandidate.price_ars;\n    return 'Sí, tengo ' + fallbackExactCandidate.product_name + '. Queda en ARS ' + priceArs + '. Si querés, te confirmo disponibilidad y te digo cuál te conviene más.';\n  }\n  return 'Sí, te ayudo por acá. Si querés también podés mirar todo el catálogo en https://puntotechno.com. ¿Qué modelo o presupuesto tenés en mente?';\n})();\n\nconst selected = Array.isArray(parsed?.selected_product_keys) ? parsed.selected_product_keys : [];\nconst actions = Array.isArray(parsed?.actions) ? parsed.actions : [];\nconst stateDelta = parsed?.state_delta && typeof parsed.state_delta === 'object' ? parsed.state_delta : {};\nconst replyText = String(parsed?.reply_text || fallbackReply).replace(/\\s+/g, ' ').trim();\n\nreturn [{\n  json: {\n    ...base,\n    responder_output: {\n      route_key: base.router_output?.route_key || 'generic_sales',\n      reply_text: replyText,\n      selected_product_keys: selected,\n      actions,\n      state_delta: stateDelta,\n    },\n    responder_provider_name: 'google',\n    responder_model_name: base.responder_model_name || 'gemini-2.5-flash',\n    responder_raw_text: rawText,\n  }\n}];"
      },
      "id": "e37a882b-5655-5d84-8e3d-7450e70690da",
      "name": "Normalize Sales Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Sales Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sales Prompt": {
      "main": [
        [
          {
            "node": "AI Agent (Sales)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Sales)": {
      "main": [
        [
          {
            "node": "Normalize Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Sales)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
