n8n-automations/TechnoStore_v15_orchestrator.json
{
  "name": "TechnoStore - AI Sales Agent v15 (Orchestrator)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "techno-sales",
        "options": {}
      },
      "id": "0b9c74b2-4c51-42f8-97fd-399201060554",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        144
      ],
      "webhookId": "techno-sales"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Full Contact Data from ManyChat - v15\nconst raw = $input.first().json;\nconst body = raw.body || raw || {};\n\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 's\u00ed', 'y'].includes(normalized);\n};\n\nconst getCustomField = (fields, key) => {\n  if (Array.isArray(fields)) {\n    const hit = fields.find((item) => item?.name === key || item?.key === key || item?.field_name === key);\n    return hit?.value ?? '';\n  }\n  if (fields && typeof fields === 'object') {\n    return fields[key] ?? '';\n  }\n  return '';\n};\n\nconst subscriberId = String(body.subscriber_id || body.id || '');\nconst message = String(body.message || body.last_input_text || '').trim();\nconst firstName = body.first_name || 'amigo';\nconst lastName = body.last_name || '';\nconst phone = body.whatsapp_phone || body.phone || '';\nconst timezone = body.timezone || '';\nconst subscribedAt = body.subscribed || body.subscribed_at || '';\n\nconst customFields = body.custom_fields || {};\nconst city = getCustomField(customFields, 'city');\nconst funnelStage = getCustomField(customFields, 'funnel_stage');\nconst interestedProduct = getCustomField(customFields, 'interested_product');\nconst isHumanActive = toBool(getCustomField(customFields, 'is_human_active'));\n\nconst isAudio = message.startsWith('https://')\n  && (message.includes('fbsbx.com') || message.includes('fbcdn.net') || message.includes('manybot-files.s3'));\n\nconst isEmpty = !message;\n\nconst normalizedPhone = String(phone).replace(/\\s+/g, '');\nconst isSaltaPhone = normalizedPhone.startsWith('+549387')\n  || normalizedPhone.startsWith('+54387')\n  || normalizedPhone.startsWith('549387');\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    first_name: firstName,\n    last_name: lastName,\n    phone,\n    timezone,\n    subscribed_at: subscribedAt,\n    city,\n    funnel_stage: funnelStage,\n    interested_product: interestedProduct,\n    is_human_active: isHumanActive,\n    raw_message: message,\n    is_audio: isAudio,\n    is_empty: isEmpty,\n    is_salta_phone: isSaltaPhone\n  }\n}];\n"
      },
      "id": "63d6c36d-cd73-4fb6-822d-6ce35370fb76",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ $json.is_audio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b569f70-4642-4425-9779-af0e18e181b6",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.raw_message }}",
        "options": {
          "response": {
            "responseFormat": "file",
            "outputPropertyName": "data"
          },
          "timeout": 15000
        }
      },
      "id": "18a64703-ceff-439f-ad39-def9a3df1164",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "171b9d5d-f566-4675-82c7-fa2e0ad40378",
      "name": "Groq Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mw4ftZwdAxSdWFjU",
          "name": "Groq Whisper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge: audio transcription or text input \u2013 v15\nconst detectData = $('Parse Input').first().json;\nlet userMessage, wasAudio;\n\ntry {\n  const whisperOutput = $('Groq Whisper Transcribe').first().json;\n  userMessage = whisperOutput.text || 'No pude entender el audio.';\n  wasAudio = true;\n} catch(e) {\n  userMessage = detectData.raw_message;\n  wasAudio = false;\n}\n\nreturn [{\n  json: {\n    ...detectData,\n    user_message: userMessage,\n    was_audio: wasAudio\n  }\n}];"
      },
      "id": "75d0e04d-5cba-47a6-b66c-78f2f261df7d",
      "name": "Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ manychat_id: String($json.subscriber_id), customer_id: null, role: \"user\", message: $json.user_message || \"(vac\u00edo)\", message_type: $json.was_audio ? \"audio\" : \"text\", was_audio: $json.was_audio || false, audio_transcription: $json.was_audio ? $json.user_message : null, intent_detected: null, products_mentioned: [], triggered_human: false }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "63550096-eb87-43c5-90e0-881d3979c418",
      "name": "Save Incoming Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nawait new Promise((resolve) => setTimeout(resolve, 8000));\nreturn [{ json: data }];\n"
      },
      "id": "bd985e1a-a109-4ee6-b13c-45ab6e92ecc0",
      "name": "Wait 8s Debounce",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/check_is_latest_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_manychat_id\": \"{{ $(\"Merge Input\").first().json.subscriber_id }}\",\n  \"p_message_id\": {{ (() => { const s = $(\"Save Incoming Message\").first().json; const id = Array.isArray(s) && s[0] ? s[0].id : (s && s.id); return id != null ? id : 0; })() }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6bdcb8d9-dffd-4ba9-9e06-a6e085443095",
      "name": "Check Is Latest (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// DEBOUNCE CHECK v15 - Atomic latest-message validation\nconst mergedData = $('Merge Input').first().json;\nconst saveNode = $('Save Incoming Message').first();\n\nlet ourId = null;\nconst savedBody = saveNode.json;\n\nif (Array.isArray(savedBody)) {\n  if (savedBody.length > 0 && savedBody[0]?.id !== undefined) {\n    ourId = savedBody[0].id;\n  }\n} else if (savedBody && typeof savedBody === 'object') {\n  if (savedBody.id !== undefined) {\n    ourId = savedBody.id;\n  }\n}\n\nif (ourId === null || ourId === undefined) {\n  return [{ json: { ...mergedData, should_continue: false, debug: 'could_not_extract_saved_message_id' } }];\n}\n\nconst rpcResult = $('Check Is Latest (RPC)').first().json;\n\nlet isLatest = false;\nif (typeof rpcResult === 'boolean') {\n  isLatest = rpcResult;\n} else if (Array.isArray(rpcResult) && rpcResult.length > 0) {\n  isLatest = rpcResult[0] === true || rpcResult[0]?.check_is_latest_message === true;\n} else if (rpcResult && typeof rpcResult === 'object') {\n  isLatest = rpcResult.check_is_latest_message === true || rpcResult.result === true;\n}\n\nif (!isLatest) {\n  return [{ json: { ...mergedData, should_continue: false, debug: 'not_latest' } }];\n}\n\nreturn [{ json: { ...mergedData, should_continue: true, our_id: ourId } }];\n"
      },
      "id": "a1398b20-906a-44ed-bf4d-fa5be4eff288",
      "name": "Debounce Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-latest",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ace1160-fcf9-404e-8f6a-12d2935d4290",
      "name": "Is Latest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?manychat_id=eq.{{ $('Merge Input').first().json.subscriber_id }}&order=created_at.desc&limit=20&created_at=gte.{{ new Date(Date.now() - 40000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 7000
        }
      },
      "id": "dabcd75c-af48-4ef8-a360-e3c2bef9adbf",
      "name": "Fetch Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json }];"
      },
      "id": "ensure-merge-input-001",
      "name": "Ensure Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// MERGE & AGGREGATE consecutive user bursts v15\nconst mergedData = $('Debounce Check').first().json;\n\nlet recentRaw = [];\ntry {\n  recentRaw = $('Fetch Recent Messages').all();\n} catch (e) {\n  recentRaw = [];\n}\n\nconst byId = new Map();\nfor (const item of recentRaw) {\n  const payload = item.json;\n  const rows = Array.isArray(payload) ? payload : [payload];\n  for (const row of rows) {\n    if (!row || row.id === undefined || row.id === null) continue;\n    byId.set(row.id, row);\n  }\n}\n\nconst recentMessages = [...byId.values()]\n  .sort((a, b) => new Date(a.created_at || 0) - new Date(b.created_at || 0));\n\nif (recentMessages.length === 0) {\n  return [{ json: { ...mergedData, messages_merged: 1 } }];\n}\n\nconst latestId = mergedData.our_id;\nlet latestIndex = recentMessages.findIndex((row) => String(row.id) === String(latestId));\nif (latestIndex === -1) latestIndex = recentMessages.length - 1;\n\nconst burst = [];\nfor (let i = latestIndex; i >= 0; i--) {\n  const row = recentMessages[i];\n  if (!row || row.role !== 'user') break;\n  const text = String(row.message || '').trim();\n  if (text && text !== '(vac\u00edo)') burst.unshift(text);\n}\n\nconst combined = burst.join(' ').trim();\n\nreturn [{\n  json: {\n    ...mergedData,\n    user_message: combined || mergedData.user_message,\n    messages_merged: Math.max(burst.length, 1)\n  }\n}];\n"
      },
      "id": "1ddd45c4-8547-4951-83cd-b2bd06b9e7f3",
      "name": "Merge & Aggregate Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/upsert_customer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_manychat_id: String($json.subscriber_id || ''), p_phone: String($json.phone || ''), p_whatsapp_phone: String($json.phone || ''), p_first_name: String($json.first_name || ''), p_last_name: String($json.last_name || ''), p_timezone: String($json.timezone || ''), p_is_salta_phone: !!$json.is_salta_phone }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "59fe2b7d-8178-4491-9e55-a9d0e8df295a",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/v_customer_context?manychat_id=eq.{{ $('Merge & Aggregate Messages').first().json.subscriber_id }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "9d7e9c3c-22f5-47e9-92ca-eef5244225bc",
      "name": "Fetch Customer Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/v_recent_conversations?manychat_id=eq.{{ $('Merge & Aggregate Messages').first().json.subscriber_id }}&limit=8&order=created_at.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "ea9bac8d-3fe7-404a-97f5-fcdf865361db",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/v_product_catalog?order=category,price_ars.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "5855530f-fd81-49cc-85c8-7ce31b4e2184",
      "name": "Fetch Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Orchestrator v15 - Keyword routing with anti-overroute\nif ($input.context.itemIndex > 0) return [];\n\nconst merged = $('Merge & Aggregate Messages').first().json;\n\nlet customerData = {};\ntry {\n  const raw = $('Fetch Customer Profile').first().json;\n  if (Array.isArray(raw) && raw.length > 0) customerData = raw[0];\n  else if (raw && raw.manychat_id) customerData = raw;\n} catch (e) { customerData = {}; }\n\nlet historyRows = [];\ntry {\n  const items = $('Fetch Conversation History').all();\n  for (const item of items) {\n    const d = item.json;\n    if (Array.isArray(d)) historyRows.push(...d);\n    else if (d && d.role && d.message) historyRows.push(d);\n  }\n} catch (e) { historyRows = []; }\n\nlet productRows = [];\nlet productImages = {};\nlet productKeyNameMap = {};\nlet productStockMap = {};\nlet productConditionMap = {};\ntry {\n  const items = $('Fetch Products').all();\n  for (const item of items) {\n    let d = item.json;\n    if (d && d.data && Array.isArray(d.data)) d = d.data;\n    const rows = Array.isArray(d) ? d : (d ? [d] : []);\n    for (const p of rows) {\n      if (!p || !p.product_key) continue;\n      productRows.push(p);\n      const baseName = String(p.product_name || '').trim();\n      const cond = String(p.condition || 'new').trim().toLowerCase();\n      const variantBits = [];\n      if (cond === 'used') variantBits.push('seminuevo');\n      else if (cond === 'like_new') variantBits.push('como nuevo');\n      else if (cond === 'refurbished') variantBits.push('reacondicionado');\n      else variantBits.push('nuevo');\n      if (p.battery_health) variantBits.push('bater\u00eda ' + p.battery_health + '%');\n      productKeyNameMap[p.product_key] = baseName + ' (' + variantBits.join(', ') + ')';\n      productStockMap[p.product_key] = p.in_stock;\n      productConditionMap[p.product_key] = cond;\n      const url = p.image_url || p.image || p.url;\n      if (url && String(url).startsWith('http')) productImages[p.product_key] = String(url).trim();\n    }\n  }\n} catch (e) { productRows = []; }\n\nconst humanAssigned = merged.is_human_active === true || customerData.human_assigned === true;\nconst isFirstInteraction = historyRows.length === 0;\nconst msg = String(merged.user_message || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst currentStage = String(customerData.funnel_stage || merged.funnel_stage || '').trim().toLowerCase();\nconst historyRowsSorted = [...historyRows]\n  .sort((a, b) => new Date(a.created_at || 0) - new Date(b.created_at || 0));\nconst recentContextText = historyRowsSorted\n  .slice(-6)\n  .map((row) => String(row.message || ''))\n  .join(' ')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\nconst hasTrackedProduct = !!String(customerData.interested_product || merged.interested_product || '').trim();\nconst hasActiveSalesStage = ['interested', 'closing'].includes(currentStage);\nconst hasRecentSalesContext = /(iphone|samsung|redmi|poco|pro max|bateria|gb|de contado|contado|cable y cargador|nuevo|seminuevo|como nuevo|\\$\\s*\\d)/.test(recentContextText);\nconst looksLikeClosingFollowup = /(transfer|transferencia|debito|credito|efectivo|bitcoin|usdt|tarjeta|pago|pagar|contado|envio|despacho|sucursal|retiro|entrega|oran|salta|capital|soy de|soy del interior|me lo mandas|reservo|reserva|sena|se\u00f1a)/.test(msg);\nconst shouldKeepSalesContext = looksLikeClosingFollowup && (hasTrackedProduct || hasActiveSalesStage || hasRecentSalesContext);\n\nconst patterns = {\n  shipping: /ubicaci|direcci|local|donde est|horari|abierto|cerrado|atiend|cu[a\\u00e1]ndo abr|envio|env\\u00edo|mandan|despach|tracking|seguimiento|rastreo|llega|entrega|llegada|demora|d[i\\u00ed]as|cuantos dias|pago|pagar|transfer|efectivo|crypto|bitcoin|usdt|tarjeta|debito|credito|mercado pago|instagram|facebook|rrss|garant[i\\u00ed]a|servicio t[e\\u00e9]cnico|reparaci[o\\u00f3]n/,\n  cuotas: /cuota|financi|plazo|mensual|bancariz|macro|6 cuotas|en cuotas|a cuotas|pagar en|naranja|subcredito|sucredito|su credito|tarjeta bancarizada/,\n  catalog: /que tienen|qu[e\\u00e9] tienen|que modelos|qu[e\\u00e9] modelos|que hay|lista|cat[a\\u00e1]log|precios de|todos los|ver todo|ver los|tienen iphone|tienen samsung|tienen redmi|tienen poco/,\n  sales: /precio|cuanto sale|cu[a\\u00e1]nto sale|cuesta|vale|sale el|tiene el|stock|hay|disponible|tenes el|ten[e\\u00e9]s el|quiero el|me das|s25|s24|iphone 16|iphone 15|a56|a55|redmi|poco/,\n  closing: /lo quiero|quiero comprarlo|c[o\\u00f3]mo compro|me lo llevo|dale va|ok lo tomo|voy a llevar|quiero pedirlo|c[o\\u00f3]mo pago|para pedir|para comprar/,\n  handoff: /hablar con|habla con|joaco|joaqu[i\\u00ed]n|una persona|un humano|un asesor|me atienda|ya pagu[e\\u00e9]|mi pedido|cuando llega mi|retiro|busco mi|reclamo|queja|devoluci[o\\u00f3]n|problema/\n};\n\nconst matches = {};\nlet matchCount = 0;\nfor (const [key, pattern] of Object.entries(patterns)) {\n  if (pattern.test(msg)) { matches[key] = true; matchCount++; }\n}\n\nlet route;\nif (humanAssigned) route = 'skip';\nelse if (isFirstInteraction && (!msg || msg === '(vacio)' || msg === '(mensaje vacio - el cliente abrio el chat)')) route = 'greeting';\nelse if (shouldKeepSalesContext) route = 'sales';\nelse if (matchCount >= 2) route = 'sales';\nelse if (matches.handoff) route = 'handoff';\nelse if (matches.closing) route = 'sales';\nelse if (matches.cuotas) route = 'cuotas';\nelse if (matches.shipping) route = 'shipping';\nelse if (matches.catalog) route = 'catalog';\nelse if (matches.sales) route = 'sales';\nelse route = 'sales';\n\nlet response_text = null;\nlet chatInput = null;\nlet needs_human = false;\nlet is_silent = false;\n\nif (route === 'skip') {\n  is_silent = true;\n} else if (route === 'greeting') {\n  response_text = '\\ud83d\\ude0a \\u00a1Hola ' + merged.first_name + '! \\u00bfC\\u00f3mo and\\u00e1s? Bienvenido a TechnoStore Salta \\ud83d\\udc4b\\nContame qu\\u00e9 celular est\\u00e1s buscando o con qu\\u00e9 te puedo ayudar, te atiendo al toque.';\n} else if (route === 'handoff') {\n  response_text = 'Te paso con un asesor que te va a ayudar \\ud83d\\ude4c';\n  needs_human = true;\n} else if (route === 'cuotas') {\n  const mentionsNaranja = /naranja/i.test(msg);\\n  const mentionsSubcredito = /subcredito|sucredito|su credito/i.test(msg);\\n  if (mentionsNaranja || mentionsSubcredito) {\\n    const rejected = mentionsNaranja && mentionsSubcredito ? 'Naranja ni SubCr\\u00e9dito' : mentionsNaranja ? 'Naranja' : 'SubCr\\u00e9dito';\\n    response_text = 'Lamentablemente no trabajamos con ' + rejected + ' \\ud83d\\ude15 Pero aceptamos todas las dem\\u00e1s tarjetas bancarizadas en 6 cuotas fijas, y Macro con precios especiales \\ud83d\\udcaa Son solo presenciales en Salta Capital. \\u00bfQu\\u00e9 modelo te interesa? As\\u00ed te paso el detalle';\\n  } else {\\n    response_text = 'Manejamos cuotas con todas las tarjetas bancarizadas (excepto Naranja y SubCr\\u00e9dito) en 6 cuotas fijas, y Macro con precios especiales \\ud83d\\udcaa Son solo presenciales en Salta Capital. \\u00bfQu\\u00e9 modelo te interesa y est\\u00e1s en Salta? As\\u00ed te paso el detalle exacto \\ud83d\\udcf1';\\n  }\n} else if (route === 'shipping') {\n  const info = {\n    ubicacion: '\\ud83d\\udccd Caseros 1365, Salta Capital. Diagonal a OCA, enfrente del Sindicato de Camioneros.',\n    horarios: '\\ud83d\\udd50 Lunes a Viernes: 10:00-13:00 y 18:00-21:00 | S\\u00e1bados: 10:00-13:00 | Domingos: cerrado.',\n    pagos: '\\ud83d\\udcb3 Medios de pago: transferencia bancaria en pesos, transferencia en d\\u00f3lares, Bitcoin y USDT (TRC-20) con 0% recargo, y efectivo en pesos o d\\u00f3lares (solo Salta Capital). \\u274c No hacemos cr\\u00e9ditos personales.',\n    envios: '\\ud83d\\udce6 Env\\u00edos GRATIS a sucursal (BusPack/Flecha Carga, OCA o V\\u00eda Cargo). Despacho en 72hs h\\u00e1biles. Salta Capital: entrega en el d\\u00eda. Interior Salta: 24hs.',\n    garantia: 'La mayor\\u00eda de los equipos son nuevos, sellados y con garant\\u00eda oficial. Algunos modelos pueden ser semi-nuevos (como nuevo) \\u2014 preguntame por el modelo que te interesa y te confirmo.'\n  };\n  if (/garant[i\\u00ed]a|servicio t[e\\u00e9]cnico|reparaci[o\\u00f3]n/.test(msg)) response_text = info.garantia;\n  else if (/tracking|seguimiento|rastreo/.test(msg)) response_text = info.envios;\n  else if (/envio|env\\u00edo|mandan|despach|llega|entrega|llegada|demora|d[i\\u00ed]as|cuantos dias/.test(msg)) response_text = info.envios;\n  else if (/pago|pagar|transfer|efectivo|crypto|bitcoin|usdt|tarjeta|debito|credito|mercado pago/.test(msg)) response_text = info.pagos;\n  else if (/horari|abierto|cerrado|atiend|cu[a\\u00e1]ndo abr/.test(msg)) response_text = info.horarios;\n  else if (/ubicaci|direcci|local|donde est/.test(msg)) response_text = info.ubicacion;\n  else if (/instagram|facebook|rrss/.test(msg)) response_text = '\\ud83d\\udcf1 Instagram y Facebook: @technostore.salta';\n  else response_text = info.ubicacion + '\\n' + info.horarios + '\\n' + info.pagos + '\\n' + info.envios;\n}\n\nif (route === 'sales' || route === 'catalog') {\n  historyRows.sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n  let historyText = historyRows.length > 0\n    ? historyRows.map(h => {\n        const role = h.role === 'user' ? 'CLIENTE' : h.role === 'bot' ? 'TECHNOBOT' : 'ASESOR';\n        const time = h.created_at ? new Date(h.created_at).toLocaleString('es-AR', { timeZone: 'America/Argentina/Salta' }) : '';\n        return '[' + role + '] ' + time + ': ' + h.message;\n      }).join('\\n')\n    : '(Primera interacci\\u00f3n)';\n\n  let profileText = '(Cliente nuevo)';\n  if (customerData.manychat_id) {\n    const parts = [];\n    if (customerData.city) parts.push('Ciudad: ' + customerData.city);\n    if (customerData.is_salta_capital != null) parts.push('Salta: ' + (customerData.is_salta_capital ? 'S\\u00cd' : 'NO'));\n    if (customerData.preferred_brand) parts.push('Marca: ' + customerData.preferred_brand);\n    if (customerData.interested_product) parts.push('Inter\\u00e9s: ' + customerData.interested_product);\n    if (customerData.funnel_stage) parts.push('Etapa: ' + customerData.funnel_stage);\n    parts.push('Interacciones: ' + (customerData.total_interactions || 1));\n    profileText = parts.join(' | ');\n  }\n\n  const productsByCategory = {};\n  for (const p of productRows) {\n    const cat = p.category || 'GENERAL';\n    if (!productsByCategory[cat]) productsByCategory[cat] = [];\n    const specs = [];\n    if (p.ram_gb) specs.push(p.ram_gb + 'GB RAM');\n    if (p.storage_gb) specs.push(p.storage_gb + 'GB');\n    if (p.network) specs.push(String(p.network).toUpperCase());\n    if (p.color) specs.push(p.color);\n    const ss = specs.length > 0 ? ' (' + specs.join(', ') + ')' : '';\n    let line = p.product_name + ss + ' \\u2014 $' + Number(p.price_ars).toLocaleString('es-AR');\n    if (p.promo_price_ars) line += ' | PROMO: $' + Number(p.promo_price_ars).toLocaleString('es-AR');\n    if (p.price_usd) line += ' (USD ' + p.price_usd + ')';\n    const cond = String(p.condition || 'new').toLowerCase();\n    const condLabel = cond === 'used' ? 'SEMINUEVO' : cond === 'like_new' ? 'COMO NUEVO' : cond === 'refurbished' ? 'REACONDICIONADO' : 'NUEVO';\n    line += ' | Estado: ' + condLabel;\n    if (p.battery_health) line += ' | Bater\u00eda: ' + p.battery_health + '%';\n    if (cond === 'used' || cond === 'like_new' || cond === 'refurbished') line += ' | Incluye cable y cargador';\n    if (p.delivery_type === 'on_order') line += ' [A PEDIDO - ' + p.delivery_days + ' d\\u00edas]';\n    if (p.in_stock === false) line += ' [SIN STOCK]';\n    if (p.bancarizada_cuota) line += ' | Bancarizada 6c: $' + Number(p.bancarizada_cuota).toLocaleString('es-AR');\n    if (p.macro_cuota) line += ' | Macro 6c: $' + Number(p.macro_cuota).toLocaleString('es-AR');\n    line += ' | KEY: ' + p.product_key;\n    productsByCategory[cat].push(line);\n  }\n\n  let inventoryText = '';\n  for (const [cat, prods] of Object.entries(productsByCategory)) {\n    inventoryText += '\\n[' + cat + ']\\n' + prods.join('\\n') + '\\n';\n  }\n\n  chatInput = '[CLIENTE: ' + merged.first_name + ']\\n' +\n    '[MENSAJE: ' + (merged.user_message || '(vac\\u00edo)') + ']\\n' +\n    (merged.was_audio ? '[NOTA: Audio transcripto]\\n' : '') +\n    '[PRIMERA INTERACCI\\u00d3N: ' + (isFirstInteraction ? 'S\\u00cd' : 'NO') + ']\\n' +\n    '[HORA: ' + new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Salta', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' }) + ']\\n\\n' +\n    '[PERFIL] ' + profileText + '\\n\\n' +\n    '[HISTORIAL]\\n' + historyText + '\\n\\n' +\n    '[INVENTARIO (' + productRows.length + ' productos)]\\n' + inventoryText;\n}\n\nreturn [{\n  json: {\n    route,\n    response_text,\n    chatInput,\n    is_silent,\n    needs_human,\n    subscriber_id: merged.subscriber_id,\n    first_name: merged.first_name,\n    phone: merged.phone,\n    user_message: merged.user_message,\n    was_audio: merged.was_audio,\n    customer_id: customerData.id || null,\n    customer_profile: customerData,\n    product_images: productImages,\n    product_key_name_map: productKeyNameMap,\n    product_stock_map: productStockMap,\n    product_condition_map: productConditionMap,\n    is_first_interaction: isFirstInteraction\n  }\n}];\n"
      },
      "id": "orchestrator-v15",
      "name": "Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        144
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-skip",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "skip",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "skip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-shipping",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "shipping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "shipping"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-cuotas",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "cuotas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cuotas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-handoff",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "handoff",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "handoff"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-greeting",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "greeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-sales",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-catalog",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "catalog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "catalog"
            }
          ]
        },
        "options": {}
      },
      "id": "route-switch-v15",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3600,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { skip_send: true, subscriber_id: data.subscriber_id } }];"
      },
      "id": "62bb9584-e46c-4153-ae83-e9e16eb6dc26",
      "name": "Skip (Human Active)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Static Response - Build ManyChat payload for non-AI routes\nconst data = $input.first().json;\nconst route = data.route;\nconst responseText = data.response_text || '';\n\nlet intent = 'greeting';\nlet funnel_update = 'no_change';\nif (route === 'shipping') { intent = 'shipping_inquiry'; }\nelse if (route === 'cuotas') { intent = 'cuotas_inquiry'; }\nelse if (route === 'handoff') { intent = 'complaint'; funnel_update = 'human_handoff'; }\nelse if (route === 'greeting') { intent = 'greeting'; funnel_update = 'new'; }\n\nconst metadata = {\n  intent,\n  products: 'none',\n  funnel_update,\n  city_detected: 'none',\n  is_salta: 'unknown',\n  brand_interest: 'none',\n  budget_hint: 'none'\n};\n\nconst payload = {\n  subscriber_id: data.subscriber_id,\n  data: {\n    version: 'v2',\n    content: {\n      type: 'whatsapp',\n      messages: [{ type: 'text', text: responseText }]\n    }\n  }\n};\n\nreturn [{\n  json: {\n    is_silent: false,\n    payload,\n    needs_human: data.needs_human || false,\n    clean_text: responseText,\n    metadata,\n    products_list: [],\n    subscriber_id: data.subscriber_id,\n    user_message: data.user_message,\n    was_audio: data.was_audio,\n    customer_id: data.customer_id,\n    current_funnel_stage: data.customer_profile?.funnel_stage || null\n  }\n}];\n"
      },
      "id": "process-static-v15",
      "name": "Process Static Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos TechnoBot, el vendedor de WhatsApp de TechnoStore Salta. Habl\u00e1s en espa\u00f1ol argentino natural (vos, ten\u00e9s, dale, joya). Sos piola, cercano, como un amigo que labura en una tienda de celulares. M\u00e1x 3-4 oraciones por mensaje. 1-2 emojis m\u00e1ximo.\n\n=== REGLA DE ORO: PREGUNT\u00c1 ANTES DE LISTAR ===\nTenemos m\u00e1s de 60 productos. NUNCA tires toda la lista. SIEMPRE hac\u00e9 preguntas para filtrar:\n\n1. Si preguntan gen\u00e9rico (\"celulares\", \"qu\u00e9 tienen\", \"precios\") \u2192 pregunt\u00e1 qu\u00e9 marca les copa: \"Manejamos iPhone, Samsung y Redmi/POCO, \u00bfcu\u00e1l te interesa?\"\n2. Si nombran DOS marcas (\"iPhone y Samsung\") \u2192 pregunt\u00e1 cu\u00e1l quieren ver primero, o qu\u00e9 presupuesto manejan para recomendar mejor: \"\u00bfQuer\u00e9s que arranquemos por iPhone o Samsung? \u00bfO decime m\u00e1s o menos cu\u00e1nto pens\u00e1s gastar y te recomiendo?\"\n3. Si nombran UNA marca (\"iPhone\") \u2192 pregunt\u00e1 qu\u00e9 gama buscan: \"\u00bfBusc\u00e1s la l\u00ednea Pro Max, el modelo est\u00e1ndar, o algo m\u00e1s accesible? As\u00ed te paso justo lo que te sirve\"\n4. Si ya sab\u00e9s marca + l\u00ednea/modelo \u2192 ah\u00ed s\u00ed mostr\u00e1 los modelos disponibles de esa l\u00ednea. Primero los nuevos, despu\u00e9s los seminuevos si hay.\n5. SOLO si el cliente EXPL\u00cdCITAMENTE pide \"la lista completa\", \"todos los precios\", \"mandame todo\" \u2192 mand\u00e1 organizado por marca, m\u00e1ximo 4-5 productos por mensaje, y pregunt\u00e1 si quiere ver m\u00e1s.\n6. Si el cliente pregunta por un modelo espec\u00edfico (\"cu\u00e1nto sale el S25 Ultra?\") \u2192 respond\u00e9 directo con precio y detalles, no hace falta filtrar m\u00e1s.\n\n=== VARIANTES DEL MISMO MODELO ===\n- Puede haber varios productos con el mismo nombre base pero distinto estado, bater\u00eda, color, capacidad, RAM, red o precio.\n- Trat\u00e1 cada fila del inventario como un producto distinto. NUNCA mezcles dos filas solo porque comparten nombre.\n- Si ves el mismo modelo en nuevo y seminuevo/usado, ofrec\u00e9 ambas variantes y marc\u00e1 la diferencia principal.\n- Si el dato existe, us\u00e1 estado y bater\u00eda para diferenciar: por ejemplo \"nuevo sellado\" vs \"seminuevo con bater\u00eda al 92%\".\n- Si el cliente pide un modelo y hay varias variantes, no adivines: aclarale en una frase corta qu\u00e9 cambia entre una y otra y dejalo elegir.\n- Para fotos/metadata, eleg\u00ed el product_key EXACTO de la variante correcta, no el del nombre gen\u00e9rico.\n\n=== PRODUCTOS SEMINUEVOS / USADOS ===\n- NUNCA escribas \"[USADO]\" ni \"[COMO NUEVO]\" con corchetes. Habl\u00e1 natural.\n- Dec\u00ed \"seminuevo\" o \"usado en excelente estado\" o \"como nuevo\".\n- IMPORTANTE: Los equipos seminuevos y usados SIEMPRE vienen con cable y cargador incluido. Mencionalo siempre que presentes un seminuevo.\n- Si tiene dato de bater\u00eda, mencionalo natural: \"tiene la bater\u00eda al 92%, anda b\u00e1rbaro\".\n- Los equipos nuevos son sellados con garant\u00eda oficial. Mencionalo cuando corresponda, no en cada l\u00ednea.\n- Cuando hay versi\u00f3n nueva y seminueva del mismo modelo, present\u00e1 las dos opciones para que elija.\n\n=== FORMATO Y ESTILO ===\n- Respond\u00e9 como vendedor, no como base de datos. Nada de tablas ni listas con vi\u00f1etas largas.\n- Precios: $712.480. Si hay promo \u2192 mostr\u00e1 ambos natural: \"Sale $712.480, y ahora en promo lo ten\u00e9s a $699.999 \ud83d\udcf1\"\n- USD solo si preguntan.\n- No repitas info ya dada. No repitas el nombre del cliente en cada mensaje.\n- Cuando list\u00e1s m\u00e1s de 3-4 productos, cerr\u00e1 con \"\u00bfQuer\u00e9s que te pase m\u00e1s opciones?\" o \"\u00bfAlguno te interesa?\"\n\n=== CIERRE NATURAL ===\n- Si el cliente ya eligi\u00f3 un modelo o variante y despu\u00e9s responde con forma de pago, ciudad, env\u00edo o sucursal, NO vuelvas a una respuesta gen\u00e9rica de FAQ.\n- Segu\u00cd la charla como vendedor humano: manten\u00e9 el producto elegido en contexto, respond\u00e9 puntual y avanz\u00e1 al siguiente paso.\n- Si dice \"transferencia\" despu\u00e9s de elegir equipo, confirm\u00e1 transferencia y segu\u00ed con env\u00edo o retiro. Si dice \"soy de Or\u00e1n\" o una ciudad del interior, explic\u00e1 el env\u00edo para esa ciudad y segu\u00ed el cierre.\n- No le hagas repetir modelo, bater\u00eda, capacidad o condici\u00f3n si ya quedaron claros en la charla.\n\n=== CUOTAS Y TARJETAS ===\n- Cuotas SOLO presencial en Salta Capital, 6 cuotas fijas.\n- Aceptamos TODAS las tarjetas bancarizadas EXCEPTO Naranja y SubCr\u00e9dito. Esas dos NO las trabajamos.\n- Macro tiene precios especiales (los montos de cuota Macro est\u00e1n en el cat\u00e1logo).\n- Si preguntan por Naranja o SubCr\u00e9dito: dec\u00ed claro que no trabajamos con esas, y ofrec\u00e9 las bancarizadas o Macro como alternativa.\n- Si preguntan por tarjetas en general: explic\u00e1 que aceptamos todas las bancarizadas menos Naranja y SubCr\u00e9dito, y que Macro tiene precios especiales.\n- Us\u00e1 calcular_cuotas si preguntan por montos exactos de cuotas. Prioriz\u00e1 siempre el precio de contado.\n\n=== REGLAS GENERALES ===\nNUNCA inventes precios/stock/specs. NUNCA expongas product_key ni IDs internos.\n\ud83d\udcf8 products: key1,key2 o none. Us\u00e1 product_key EXACTO. Cuando est\u00e9s hablando de un producto espec\u00edfico, comparando variantes concretas o cerrando la venta, inclu\u00ed el product_key correcto aunque no haya pedido fotos.\n\nCIERRE: \"lo quiero\" \u2192 confirm\u00e1 PRODUCTO + FORMA DE PAGO + ENTREGA \u2192 resumen + [HUMAN].\n[HUMAN]: persona/asesor, post-venta, reclamo, o algo que no pod\u00e9s resolver. Fuera horario (L-V 10-13/18-21, S 10-13): \"Te escriben en el pr\u00f3ximo turno \ud83d\ude4c\".\n\"Dale\"/\"Sii\" = s\u00ed. \"Nah\"/\"Paso\" = no. \"Gracias\" \u2192 \"Cualquier cosa escribime \ud83d\udc4b\"\n\n---METADATA--- (SIEMPRE al final, SIEMPRE con los delimitadores exactos ---METADATA--- y ---END_METADATA---. NUNCA pongas metadata sin estos delimitadores. NUNCA uses --- solo.)\nintent: greeting|price_inquiry|stock_check|comparison|purchase_intent|cuotas_inquiry|shipping_inquiry|complaint|off_topic|followup|ambiguous\nproducts: key1,key2 o none\nfunnel_update: new|browsing|interested|closing|human_handoff|no_change\ncity_detected: ciudad o none\nis_salta: true|false|unknown\nbrand_interest: IPHONE|SAMSUNG|REDMI/POCO|none\nbudget_hint: budget|mid|premium|none\n---END_METADATA---\n[HUMAN] antes de metadata. [SILENT] va solo.",
          "maxIterations": 3
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "ai-agent-sales-v15",
      "name": "AI Agent (Sales)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3840,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "6c8507f8-4ac7-4d80-9846-c481087d48bd",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3700,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "kaLPLSecsHfc5vlx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "calcular_cuotas",
        "description": "Calcula cuotas para un producto. SOLO usar cuando el cliente pregunte EXPL\u00cdCITAMENTE por cuotas o financiaci\u00f3n. Necesita el product_key y si el cliente es de Salta Capital. Formato: 'product_key: xxx, salta: true/false'. Las cuotas son SOLO presenciales en Salta Capital, 6 cuotas fijas.",
        "jsCode": "const query = $input.first().json.query || '';\nconst q = String(query || '').toLowerCase();\n\nlet esSalta = null;\nconst saltaMatch = q.match(/salta[:\\s]*(true|false|si|s\u00ed|no|unknown)/i);\nif (saltaMatch) {\n  const val = saltaMatch[1].toLowerCase();\n  esSalta = (val === 'true' || val === 'si' || val === 's\u00ed');\n}\n\nif (esSalta === false) {\n  return 'Las cuotas son SOLO presenciales en Salta Capital. Para env\u00edos a otras ciudades las opciones son transferencia bancaria (pesos o d\u00f3lares), Bitcoin/USDT (0% recargo) o efectivo presencial. No se puede hacer cuotas por env\u00edo.';\n}\n\nif (esSalta === null) {\n  return 'Necesito confirmar si est\u00e1s en Salta Capital para calcular cuotas, porque las cuotas son solo presenciales en Salta Capital.';\n}\n\nconst hasModelHint = /(iphone|samsung|redmi|poco|xiaomi|a\\d{2}|s\\d{2}|\\d\\+\\d{3}|\\b\\d{2}\\b)/i.test(query);\nif (!hasModelHint) {\n  return 'Para calcular cuotas exactas decime el modelo y la capacidad (por ejemplo: A56 8+256 o A56 12+256). No necesito c\u00f3digos internos.';\n}\n\nreturn `Reglas de cuotas (cliente en Salta Capital):\n- Cuotas disponibles SOLO presencial en Salta Capital\n- 6 cuotas fijas (no hay 3, 9, 12 ni otras opciones)\n- Aceptamos TODAS las tarjetas bancarizadas en 6 cuotas fijas EXCEPTO Naranja y SubCr\u00e9dito\n- Macro tiene precios especiales con cuotas propias (us\u00e1 los montos del cat\u00e1logo)\n- NO trabajamos con Naranja ni SubCr\u00e9dito bajo ninguna circunstancia\n- El cliente debe venir al local: Caseros 1365, Salta Capital\n- Siempre destacar primero el precio de contado como opci\u00f3n principal`;\n",
        "language": "javaScript"
      },
      "id": "868ad70d-1067-4666-906e-6a6ffa332f36",
      "name": "Tool: calcular_cuotas",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        3900,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process AI Response v15 - Parse metadata, clean text, handle images, build ManyChat payload\nconst aiOutput = $input.first().json;\nconst mergedData = $('Merge & Aggregate Messages').first().json;\nconst contextData = $('Orchestrator').first().json;\n\nconst normalize = (value) => String(value || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s_-]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst escapeRegExp = (value) => String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nconst parseProducts = (rawValue) => {\n  const raw = String(rawValue ?? '').trim();\n  if (!raw || raw.toLowerCase() === 'none') return [];\n  const cleaned = raw.replace(/^\\[/, '').replace(/\\]$/, '').replace(/[\"']/g, '');\n  const pieces = cleaned.split(/[,;|\\n]/)\n    .map((p) => p.trim().toLowerCase())\n    .filter(Boolean)\n    .filter((p) => p !== 'none')\n    .filter((p) => /^[a-z0-9_-]+$/i.test(p));\n  return [...new Set(pieces)];\n};\n\nconst scoreToken = (token) => (/[a-z]*\\d+[a-z]*/.test(token) ? 4 : 1);\n\nconst productImagesMap = contextData.product_images || {};\nconst productKeyNameMap = contextData.product_key_name_map || {};\nconst productStockMap = contextData.product_stock_map || {};\n\nconst allProductKeys = [...new Set([\n  ...Object.keys(productKeyNameMap),\n  ...Object.keys(productStockMap),\n  ...Object.keys(productImagesMap),\n])];\n\nconst catalog = allProductKeys.map((key) => ({\n  key,\n  keyNorm: normalize(key),\n  name: String(productKeyNameMap[key] || key).trim(),\n  nameNorm: normalize(productKeyNameMap[key] || ''),\n  inStock: productStockMap[key],\n  imageUrl: String(productImagesMap[key] || '').trim(),\n}));\n\nconst keyAliasPairs = Object.entries(productKeyNameMap).flatMap(([key, name]) => {\n  const human = String(name || key).trim();\n  const variants = [key, key.replace(/_/g, '-'), key.replace(/-/g, '_')];\n  return [...new Set(variants)].map((variant) => ({ alias: variant, human }));\n});\n\nconst sanitizeInternalIds = (text) => {\n  let out = String(text || '');\n  out = out\n    .replace(/\\bError:\\s*/gi, '')\n    .replace(/product[_\\s-]?keys?/gi, 'modelos')\n    .replace(/c[o\\u00f3]digos?\\s+internos?/gi, 'modelos')\n    .replace(/`([^`]+)`/g, '$1');\n  for (const pair of keyAliasPairs) {\n    const re = new RegExp('\\\\b' + escapeRegExp(pair.alias) + '\\\\b', 'gi');\n    out = out.replace(re, pair.human);\n  }\n  out = out.replace(/\\b[a-z0-9]+(?:[-_][a-z0-9]+){3,}\\b/gi, 'ese modelo');\n  return out.replace(/\\s{2,}/g, ' ').trim();\n};\n\nconst resolveProductKey = (candidateRaw) => {\n  const candidate = normalize(candidateRaw);\n  if (!candidate) return null;\n  const exact = catalog.find((p) => p.keyNorm === candidate);\n  if (exact) return exact.key;\n  const starts = catalog.filter((p) => p.keyNorm.startsWith(candidate));\n  if (starts.length === 1) return starts[0].key;\n  const partial = catalog\n    .map((p) => {\n      let score = 0;\n      if (p.keyNorm.includes(candidate)) score += 5;\n      if (p.nameNorm.includes(candidate)) score += 4;\n      return { key: p.key, score };\n    })\n    .filter((x) => x.score > 0)\n    .sort((a, b) => b.score - a.score || a.key.length - b.key.length);\n  return partial.length > 0 ? partial[0].key : null;\n};\n\nconst inferProductKeysFromText = (text, limit = 3) => {\n  const t = normalize(text);\n  if (!t) return [];\n  const tokens = [...new Set(\n    t.split(/\\s+/).map((w) => w.trim()).filter((w) => w.length >= 3 || /[a-z]*\\d+[a-z]*/.test(w))\n  )];\n  const scored = catalog.map((p) => {\n    let score = 0;\n    if (t.includes(p.keyNorm)) score += 12;\n    if (p.nameNorm && t.includes(p.nameNorm)) score += 10;\n    for (const token of tokens) {\n      const tokenScore = scoreToken(token);\n      if (p.keyNorm.includes(token)) score += tokenScore;\n      if (p.nameNorm.includes(token)) score += tokenScore;\n    }\n    if (p.inStock === false) score -= 2;\n    return { key: p.key, score };\n  });\n  return scored.filter((x) => x.score >= 4).sort((a, b) => b.score - a.score).slice(0, limit).map((x) => x.key);\n};\n\nconst unique = (arr) => [...new Set(arr.filter(Boolean))];\n\nlet responseText = aiOutput.output || aiOutput.text || 'Disculp\\u00e1, hubo un error. \\u00bfPod\\u00e9s repetir tu consulta?';\n\nconst isSilent = responseText.trim() === '[SILENT]' || responseText.includes('[SILENT]');\nif (isSilent) {\n  return [{\n    json: {\n      is_silent: true,\n      payload: null,\n      needs_human: false,\n      clean_text: '',\n      metadata: { intent: 'followup', funnel_update: 'no_change', products: 'none' },\n      products_list: [],\n      subscriber_id: mergedData.subscriber_id,\n      user_message: mergedData.user_message,\n      was_audio: mergedData.was_audio,\n      customer_id: contextData.customer_id,\n      current_funnel_stage: contextData.customer_profile?.funnel_stage || null\n    }\n  }];\n}\n\nlet metadata = {};\nconst metaFields = ['intent', 'products', 'funnel_update', 'city_detected', 'is_salta', 'brand_interest', 'budget_hint'];\nconst metaMatch = responseText.match(/---METADATA---(.*?)---END_METADATA---/s);\nif (metaMatch) {\n  const metaLines = metaMatch[1].trim().split('\\n');\n  for (const line of metaLines) {\n    const [key, ...valueParts] = line.split(':');\n    if (key && valueParts.length > 0) {\n      metadata[key.trim()] = valueParts.join(':').trim();\n    }\n  }\n} else {\n  // Fallback: parse loose metadata (no proper delimiters)\n  const looseMatch = responseText.match(/(?:^|\\n)\\s*-{2,}\\s*\\n?\\s*intent:\\s*(\\S+)/s)\n    || responseText.match(/(?:^|\\n)\\s*intent:\\s*(\\S+)\\s*\\n\\s*(?:products|funnel_update)/s);\n  if (looseMatch) {\n    const startIdx = responseText.indexOf(looseMatch[0]);\n    const metaBlock = responseText.slice(startIdx);\n    for (const field of metaFields) {\n      const fm = metaBlock.match(new RegExp(field + '\\\\s*:\\\\s*(.+)', 'i'));\n      if (fm) metadata[field] = fm[1].trim();\n    }\n  }\n}\n\nconst needsHuman = responseText.includes('[HUMAN]');\n\nlet cleanText = responseText\n  .replace(/---METADATA---[\\s\\S]*?---END_METADATA---/g, '')\n  .replace(/\\[HUMAN\\]/g, '')\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/^#+\\s/gm, '')\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/\\s*[:\uff1a]?\\s*products:\\s*\\[[^\\]]*\\]/gi, '')\n  .replace(/\\s*products:\\s*\\[[^\\]]*\\]/gi, '')\n  .replace(/\\s*products:\\s*[^\\n]+/gi, '')\n  .replace(/en\\s*\\[info_tienda[^\\]]*\\]/gi, '\\ud83d\\udccd Caseros 1365, Salta Capital. Diagonal a OCA.')\n  .replace(/\\[info_tienda[^\\]]*\\]/gi, '\\ud83d\\udccd Caseros 1365, Salta Capital. Diagonal a OCA.')\n  .replace(/\\[calcular_cuotas[^\\]]*\\]/gi, '')\n  .replace(/\\[\\w+_?\\w*\\s*:[^\\]]*\\]/g, '')\n  .replace(/,?\\s*en\\s*\\.\\s*,?/gi, '. ')\n  .replace(/\\s*-{2,}\\s*\\n?\\s*intent:[\\s\\S]*$/g, '')\n  .replace(/\\n\\s*intent:\\s*\\S+\\s*\\n\\s*(?:products|funnel_update)[\\s\\S]*$/g, '')\n  .replace(/\\n\\s*intent:\\s*\\S+\\s*(?:funnel_update|products)[\\s\\S]*$/g, '')\n  .replace(/\\s*intent:\\s*(?:greeting|price_inquiry|stock_check|comparison|purchase_intent|cuotas_inquiry|shipping_inquiry|complaint|off_topic|followup|ambiguous)\\b[\\s\\S]*$/gi, '')\n  .replace(/\\s{2,}/g, ' ')\n  .trim();\n\ncleanText = sanitizeInternalIds(cleanText);\nif (!cleanText) cleanText = 'Disculp\\u00e1, \\u00bfme repet\\u00eds la consulta?';\n\nconst MAX_CHARS = 1600;\nconst MAX_MESSAGES = 8;\n\nconst splitTextSafely = (text, maxChars = MAX_CHARS, maxMessages = MAX_MESSAGES) => {\n  const normalized = String(text || '').replace(/\\r/g, '').trim();\n  if (!normalized) return [];\n  const sentenceParts = normalized.split(/\\n+/).flatMap((part) => part.split(/(?<=[.!?])\\s+/)).map((p) => p.trim()).filter(Boolean);\n  const chunks = [];\n  let current = '';\n  const pushCurrent = () => { if (current && current.trim()) chunks.push(current.trim()); current = ''; };\n  const appendPiece = (piece) => {\n    if (!piece) return;\n    if (!current) { current = piece; return; }\n    if ((current.length + 1 + piece.length) <= maxChars) { current += ' ' + piece; }\n    else { pushCurrent(); current = piece; }\n  };\n  for (const part of sentenceParts) {\n    if (part.length <= maxChars) { appendPiece(part); continue; }\n    const words = part.split(/\\s+/).filter(Boolean);\n    let local = '';\n    const pushLocal = () => { if (local) appendPiece(local.trim()); local = ''; };\n    for (const word of words) {\n      if (word.length > maxChars) { pushLocal(); for (let i = 0; i < word.length; i += maxChars) appendPiece(word.slice(i, i + maxChars)); continue; }\n      if (!local) local = word;\n      else if ((local.length + 1 + word.length) <= maxChars) local += ' ' + word;\n      else { pushLocal(); local = word; }\n    }\n    pushLocal();\n  }\n  pushCurrent();\n  if (chunks.length <= maxMessages) return chunks;\n  const trimmed = chunks.slice(0, maxMessages);\n  const note = '... Si quer\\u00e9s, te paso por marca (iPhone, Samsung o Redmi/POCO) para que sea m\\u00e1s claro \\ud83d\\udc4c';\n  const last = trimmed[trimmed.length - 1] || '';\n  const allowed = maxChars - note.length - 1;\n  trimmed[trimmed.length - 1] = (allowed > 50 ? last.slice(0, allowed).trim() : last.slice(0, maxChars - 1).trim()) + '\\n' + note;\n  return trimmed;\n};\n\nconst splitByBrandSections = (text) => {\n  const headingRegex = /(iPhone:|Samsung:|Redmi\\/POCO:|Redmi\\/Poco:|Xiaomi:)/gi;\n  const matches2 = [...String(text || '').matchAll(headingRegex)];\n  if (matches2.length < 2) return null;\n  const sections = [];\n  const intro = text.slice(0, matches2[0].index).trim();\n  if (intro) sections.push(intro);\n  for (let i = 0; i < matches2.length; i++) {\n    const start = matches2[i].index;\n    const end = i + 1 < matches2.length ? matches2[i + 1].index : text.length;\n    const section = text.slice(start, end).trim();\n    if (section) sections.push(section);\n  }\n  return sections;\n};\n\nconst userMsg = String(mergedData.user_message || '');\nconst explicitlyAskedForImage = /foto|fotos|imagen|im\\u00e1gen|im\\u00e1genes|imagenes|mostrame|mostr\\u00e1|ver.*(foto|imagen)|mandame|env\\u00edame|envia|quiero ver|photo|picture|foto del|foto de la/i.test(userMsg);\nconst askedFullCatalog = /(todos|todo el|catalogo completo|cat[a\\u00e1]logo completo|lista completa|android y iphone|iphone y android|todas las marcas|ver todo|mostrar todo)/i.test(userMsg);\n\nconst metadataCandidates = parseProducts(metadata.products);\nlet normalizedProducts = metadataCandidates.map((candidate) => resolveProductKey(candidate)).filter(Boolean);\n\nif (explicitlyAskedForImage && normalizedProducts.length === 0) {\n  const inferredFromUser = inferProductKeysFromText(userMsg, 3);\n  const inferredFromBot = inferProductKeysFromText(cleanText, 3);\n  normalizedProducts = unique([...inferredFromUser, ...inferredFromBot]);\n}\n\nmetadata.products = normalizedProducts.length > 0 ? normalizedProducts.join(', ') : 'none';\n\nlet textChunks = splitTextSafely(cleanText, MAX_CHARS, MAX_MESSAGES);\nif (askedFullCatalog) {\n  const sections = splitByBrandSections(cleanText);\n  if (sections && sections.length >= 2) {\n    const branded = [];\n    for (const sec of sections) {\n      const secChunks = splitTextSafely(sec, MAX_CHARS, 2);\n      branded.push(...secChunks);\n    }\n    if (branded.length > 0) textChunks = branded.slice(0, MAX_MESSAGES);\n  }\n}\n\nlet messagesArray = textChunks.length > 0\n  ? textChunks.map((chunk) => ({ type: 'text', text: sanitizeInternalIds(chunk) }))\n  : [{ type: 'text', text: 'Disculp\\u00e1, \\u00bfme repet\\u00eds la consulta?' }];\n\nif (explicitlyAskedForImage && normalizedProducts.length === 0) {\n  const profileKey = resolveProductKey(contextData.customer_profile?.interested_product || '');\n  const inStockImageKeys = catalog.filter((p) => p.imageUrl && p.inStock !== false).map((p) => p.key);\n  const fallbackImageKeys = catalog.filter((p) => p.imageUrl).map((p) => p.key);\n  const suggestionKeys = unique([profileKey, ...inStockImageKeys.slice(0, 6), ...fallbackImageKeys.slice(0, 6)]).slice(0, 4);\n  if (suggestionKeys.length > 0) {\n    const suggestionNames = suggestionKeys.map((key) => {\n      const item = catalog.find((p) => p.key === key);\n      return item ? item.name : key;\n    });\n    const suggestionMsg = '\\n\\n\\ud83d\\udcf8 Tengo fotos de: ' + suggestionNames.join(', ') + '. Decime cu\\u00e1l quer\\u00e9s y te la mando.';\n    if (!/tengo fotos de|no tengo fotos/i.test(cleanText)) {\n      cleanText = sanitizeInternalIds(cleanText.trim() + suggestionMsg);\n      const textItem = messagesArray.find((m) => m.type === 'text');\n      if (textItem) textItem.text = cleanText;\n    }\n  } else {\n    const noImgGeneric = '\\n\\n\\u26a0\\ufe0f Por ahora no tengo fotos cargadas para enviarte, pero te paso precio y detalles si quer\\u00e9s.';\n    if (!/no tengo|no tenemos/i.test(cleanText)) {\n      cleanText = sanitizeInternalIds(cleanText.trim() + noImgGeneric);\n      const textItem = messagesArray.find((m) => m.type === 'text');\n      if (textItem) textItem.text = cleanText;\n    }\n  }\n}\n\nif (explicitlyAskedForImage && normalizedProducts.length > 0) {\n  const sentKeys = new Set();\n  const sentUrls = new Set();\n  const keysWithoutImage = [];\n  for (const key of normalizedProducts) {\n    const item = catalog.find((p) => p.key === key);\n    const imageUrl = item?.imageUrl || '';\n    if (imageUrl && !sentKeys.has(key) && !sentUrls.has(imageUrl)) {\n      messagesArray.push({ type: 'image', url: imageUrl, image_url: imageUrl });\n      sentKeys.add(key);\n      sentUrls.add(imageUrl);\n    } else if (!imageUrl) {\n      keysWithoutImage.push(key);\n    }\n  }\n  if (keysWithoutImage.length > 0 && !/no tengo|no tenemos/i.test(cleanText)) {\n    const readable = keysWithoutImage.slice(0, 3).map((key) => {\n      const item = catalog.find((p) => p.key === key);\n      return item ? item.name : key;\n    });\n    const noImgNote = '\\n\\n\\u26a0\\ufe0f No tengo fotos de ' + readable.join(', ') + ' por el momento. Si quer\\u00e9s m\\u00e1s info del modelo escribime.';\n    cleanText = sanitizeInternalIds(cleanText.trim() + noImgNote);\n    const textItem = messagesArray.find((m) => m.type === 'text');\n    if (textItem) textItem.text = cleanText;\n  }\n}\n\nconst payload = {\n  subscriber_id: mergedData.subscriber_id,\n  data: {\n    version: 'v2',\n    content: {\n      type: 'whatsapp',\n      messages: messagesArray\n    }\n  }\n};\n\nreturn [{\n  json: {\n    is_silent: false,\n    payload,\n    needs_human: needsHuman,\n    clean_text: cleanText,\n    metadata,\n    products_list: normalizedProducts,\n    subscriber_id: mergedData.subscriber_id,\n    user_message: mergedData.user_message,\n    was_audio: mergedData.was_audio,\n    customer_id: contextData.customer_id,\n    current_funnel_stage: contextData.customer_profile?.funnel_stage || null\n  }\n}];\n"
      },
      "id": "process-ai-response-v15",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];\n"
      },
      "id": "merge-all-routes-v15",
      "name": "Merge All Routes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-silent",
              "leftValue": "={{ $json.is_silent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "749f1c18-ff31-422f-b2a8-5f3dc51c00f5",
      "name": "Is Silent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4560,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a0c9c8af-98d9-4a40-8961-365a3043a55f",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4800,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dTDdJWgAz1yrPfPe",
          "name": "ManyChat API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Merge All Routes').first().json;\nconst metadata = data.metadata || {};\nconst products = Array.isArray(data.products_list) ? data.products_list : [];\n\nreturn [{\n  json: {\n    manychat_id: data.subscriber_id,\n    customer_id: data.customer_id || null,\n    role: 'bot',\n    message: data.clean_text || '(solo im\u00e1genes)',\n    message_type: 'text',\n    intent_detected: metadata.intent || null,\n    products_mentioned: products,\n    triggered_human: data.needs_human || false,\n    was_audio: false\n  }\n}];\n"
      },
      "id": "36c68d55-e247-4be5-8dbd-eed829342601",
      "name": "Prep Bot Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "0f07f8c1-7b8b-4e04-8fbf-ac7631c88a84",
      "name": "Save Bot Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Merge All Routes').first().json;\nconst metadata = data.metadata || {};\nconst products = Array.isArray(data.products_list) ? data.products_list : [];\n\nconst stageRank = {\n  new: 0,\n  browsing: 1,\n  interested: 2,\n  closing: 3,\n  human_handoff: 4\n};\n\nconst currentStage = String(data.current_funnel_stage || '').trim().toLowerCase();\nconst requestedStage = String(metadata.funnel_update || '').trim().toLowerCase();\n\nconst updates = {\n  last_bot_interaction: new Date().toISOString(),\n  updated_at: new Date().toISOString()\n};\n\nif (requestedStage && requestedStage !== 'no_change') {\n  if (stageRank[requestedStage] !== undefined) {\n    if (stageRank[currentStage] === undefined || stageRank[requestedStage] >= stageRank[currentStage]) {\n      updates.funnel_stage = requestedStage;\n    }\n  }\n}\n\nif (metadata.city_detected && metadata.city_detected !== 'none') {\n  let city = metadata.city_detected.trim();\n  const lower = city.toLowerCase();\n  if (['salta', 'salta capital', 'salta cap'].includes(lower)) {\n    city = 'Salta Capital';\n    updates.is_salta_capital = true;\n  }\n  updates.city = city;\n}\n\nif (metadata.is_salta === 'true') updates.is_salta_capital = true;\nelse if (metadata.is_salta === 'false') updates.is_salta_capital = false;\n\nif (metadata.brand_interest && metadata.brand_interest !== 'none') updates.preferred_brand = metadata.brand_interest;\nif (metadata.budget_hint && metadata.budget_hint !== 'none') updates.preferred_budget = metadata.budget_hint;\nif (products.length > 0) updates.interested_product = products[0];\n\nif (data.needs_human) {\n  updates.human_assigned = true;\n  updates.funnel_stage = 'human_handoff';\n}\n\nreturn [{ json: { subscriber_id: data.subscriber_id, updates } }];\n"
      },
      "id": "9363ef63-db62-409e-99da-1b4f2f443a8c",
      "name": "Prep Customer Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        608
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?manychat_id=eq.{{ $json.subscriber_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updates) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "e4efdf20-d6fe-42c7-8f4c-952c17afa5bd",
      "name": "Update Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        608
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Merge All Routes').first().json;\nconst metadata = data.metadata || {};\n\nconst saveNode = $('Save Incoming Message').first();\nlet savedId = null;\nconst savedBody = saveNode.json;\nif (Array.isArray(savedBody) && savedBody.length > 0) {\n  savedId = savedBody[0]?.id;\n} else if (savedBody && savedBody.id) {\n  savedId = savedBody.id;\n}\n\nconst intent = String(metadata.intent || '').trim();\nif (!savedId || !intent) {\n  return [];\n}\n\nreturn [{\n  json: {\n    message_id: savedId,\n    intent\n  }\n}];\n"
      },
      "id": "240ee610-0e44-4499-8592-361394f3258c",
      "name": "Backfill User Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        816
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ intent_detected: $json.intent }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "71fa74f4-2397-49cf-8d34-36b84e87011b",
      "name": "Update User Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        816
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const upsertRaw = $input.first().json;\n\nconst toIntOrNull = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst extractCustomerId = (raw) => {\n  if (typeof raw === 'number' && Number.isFinite(raw)) return raw;\n  if (typeof raw === 'string') return toIntOrNull(raw);\n  if (Array.isArray(raw) && raw.length > 0) {\n    const first = raw[0];\n    if (typeof first === 'number' && Number.isFinite(first)) return first;\n    if (typeof first === 'string') return toIntOrNull(first);\n    if (first && typeof first === 'object') {\n      if (first.upsert_customer !== undefined && first.upsert_customer !== null) return toIntOrNull(first.upsert_customer);\n      if (first.customer_id !== undefined && first.customer_id !== null) return toIntOrNull(first.customer_id);\n      if (first.id !== undefined && first.id !== null) return toIntOrNull(first.id);\n    }\n  }\n  if (raw && typeof raw === 'object') {\n    if (raw.upsert_customer !== undefined && raw.upsert_customer !== null) return toIntOrNull(raw.upsert_customer);\n    if (raw.customer_id !== undefined && raw.customer_id !== null) return toIntOrNull(raw.customer_id);\n    if (raw.id !== undefined && raw.id !== null) return toIntOrNull(raw.id);\n  }\n  return null;\n};\n\nconst customerId = extractCustomerId(upsertRaw);\n\nconst saveNode = $('Save Incoming Message').first();\nconst savedBody = saveNode.json;\nlet messageId = null;\nif (Array.isArray(savedBody) && savedBody.length > 0) {\n  messageId = savedBody[0]?.id;\n} else if (savedBody && savedBody.id) {\n  messageId = savedBody.id;\n}\n\nconst parsedMessageId = toIntOrNull(messageId);\nif (!Number.isFinite(customerId) || !Number.isFinite(parsedMessageId)) {\n  return [];\n}\n\nreturn [{\n  json: {\n    message_id: parsedMessageId,\n    customer_id: customerId\n  }\n}];\n"
      },
      "id": "prep-incoming-message-customer-link-v15",
      "name": "Prep Incoming Message Customer Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -80
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customer_id: $json.customer_id }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "backfill-incoming-message-customer-v15",
      "name": "Backfill Incoming Message Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        -80
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Groq Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input": {
      "main": [
        [
          {
            "node": "Save Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Incoming Message": {
      "main": [
        [
          {
            "node": "Wait 8s Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8s Debounce": {
      "main": [
        [
          {
            "node": "Check Is Latest (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is Latest (RPC)": {
      "main": [
        [
          {
            "node": "Debounce Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce Check": {
      "main": [
        [
          {
            "node": "Is Latest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Latest?": {
      "main": [
        [
          {
            "node": "Fetch Recent Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ensure Merge Input",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Recent Messages": {
      "main": [
        []
      ]
    },
    "Ensure Merge Input": {
      "main": [
        [
          {
            "node": "Merge & Aggregate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Aggregate Messages": {
      "main": [
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          {
            "node": "Fetch Customer Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Incoming Message Customer Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer Profile": {
      "main": [
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator": {
      "main": [
        [
          {
            "node": "Route Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Switch": {
      "main": [
        [
          {
            "node": "Skip (Human Active)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Static Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Static Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Static Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Static Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Sales)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Sales)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Static Response": {
      "main": [
        [
          {
            "node": "Merge All Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Sales)": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Merge All Routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Routes": {
      "main": [
        [
          {
            "node": "Is Silent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Silent?": {
      "main": [
        [],
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Bot Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Customer Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Backfill User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Bot Message": {
      "main": [
        [
          {
            "node": "Save Bot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Customer Update": {
      "main": [
        [
          {
            "node": "Update Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill User Intent": {
      "main": [
        [
          {
            "node": "Update User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Sales)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: calcular_cuotas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Sales)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prep Incoming Message Customer Link": {
      "main": [
        [
          {
            "node": "Backfill Incoming Message Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill Incoming Message Customer": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
