n8n-automations/TechnoStore_v14_workflow.json
{
  "name": "TechnoStore - AI Sales Agent v14 (WhatsApp + Supabase + Tools)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "techno-sales",
        "options": {}
      },
      "id": "0b9c74b2-4c51-42f8-97fd-399201060554",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        144
      ],
      "webhookId": "techno-sales"
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Full Contact Data from ManyChat - v15\nconst raw = $input.first().json;\nconst body = raw.body || raw || {};\n\nconst toBool = (value) => {\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value ?? '').trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y'].includes(normalized);\n};\n\nconst getCustomField = (fields, key) => {\n  if (Array.isArray(fields)) {\n    const hit = fields.find((item) => item?.name === key || item?.key === key || item?.field_name === key);\n    return hit?.value ?? '';\n  }\n  if (fields && typeof fields === 'object') {\n    return fields[key] ?? '';\n  }\n  return '';\n};\n\nconst subscriberId = String(body.subscriber_id || body.id || '');\nconst message = String(body.message || body.last_input_text || '').trim();\nconst firstName = body.first_name || 'amigo';\nconst lastName = body.last_name || '';\nconst phone = body.whatsapp_phone || body.phone || '';\nconst timezone = body.timezone || '';\nconst subscribedAt = body.subscribed || body.subscribed_at || '';\n\nconst customFields = body.custom_fields || {};\nconst city = getCustomField(customFields, 'city');\nconst funnelStage = getCustomField(customFields, 'funnel_stage');\nconst interestedProduct = getCustomField(customFields, 'interested_product');\nconst isHumanActive = toBool(getCustomField(customFields, 'is_human_active'));\n\n// Audio detection: ManyChat WhatsApp usually sends CDN URLs\nconst isAudio = message.startsWith('https://')\n  && (message.includes('fbsbx.com') || message.includes('fbcdn.net') || message.includes('manybot-files.s3'));\n\n// Empty message detection (customer opened chat without text)\nconst isEmpty = !message;\n\n// Infer Salta from phone number (+549387 or +54387)\nconst normalizedPhone = String(phone).replace(/\\s+/g, '');\nconst isSaltaPhone = normalizedPhone.startsWith('+549387')\n  || normalizedPhone.startsWith('+54387')\n  || normalizedPhone.startsWith('549387');\n\nreturn [{\n  json: {\n    subscriber_id: subscriberId,\n    first_name: firstName,\n    last_name: lastName,\n    phone,\n    timezone,\n    subscribed_at: subscribedAt,\n    city,\n    funnel_stage: funnelStage,\n    interested_product: interestedProduct,\n    is_human_active: isHumanActive,\n    raw_message: message,\n    is_audio: isAudio,\n    is_empty: isEmpty,\n    is_salta_phone: isSaltaPhone\n  }\n}];\n"
      },
      "id": "63d6c36d-cd73-4fb6-822d-6ce35370fb76",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ $json.is_audio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b569f70-4642-4425-9779-af0e18e181b6",
      "name": "Is Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.raw_message }}",
        "options": {
          "response": {
            "responseFormat": "file",
            "outputPropertyName": "data"
          },
          "timeout": 15000
        }
      },
      "id": "18a64703-ceff-439f-ad39-def9a3df1164",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "171b9d5d-f566-4675-82c7-fa2e0ad40378",
      "name": "Groq Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mw4ftZwdAxSdWFjU",
          "name": "Groq Whisper"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge: audio transcription or text input – v14\nconst detectData = $('Parse Input').first().json;\nlet userMessage, wasAudio;\n\ntry {\n  const whisperOutput = $('Groq Whisper Transcribe').first().json;\n  userMessage = whisperOutput.text || 'No pude entender el audio.';\n  wasAudio = true;\n} catch(e) {\n  userMessage = detectData.raw_message;\n  wasAudio = false;\n}\n\nreturn [{\n  json: {\n    ...detectData,\n    user_message: userMessage,\n    was_audio: wasAudio\n  }\n}];"
      },
      "id": "75d0e04d-5cba-47a6-b66c-78f2f261df7d",
      "name": "Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ manychat_id: String($json.subscriber_id), customer_id: null, role: \"user\", message: $json.user_message || \"(vacío)\", message_type: $json.was_audio ? \"audio\" : \"text\", was_audio: $json.was_audio || false, audio_transcription: $json.was_audio ? $json.user_message : null, intent_detected: null, products_mentioned: [], triggered_human: false }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "63550096-eb87-43c5-90e0-881d3979c418",
      "name": "Save Incoming Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Wait 8 seconds so users can finish typing bursts (2-3 consecutive messages)\nconst data = $input.first().json;\nawait new Promise((resolve) => setTimeout(resolve, 8000));\nreturn [{ json: data }];\n"
      },
      "id": "bd985e1a-a109-4ee6-b13c-45ab6e92ecc0",
      "name": "Wait 8s Debounce",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/check_is_latest_message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_manychat_id\": \"{{ $(\"Merge Input\").first().json.subscriber_id }}\",\n  \"p_message_id\": {{ (() => { const s = $(\"Save Incoming Message\").first().json; const id = Array.isArray(s) && s[0] ? s[0].id : (s && s.id); return id != null ? id : 0; })() }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "6bdcb8d9-dffd-4ba9-9e06-a6e085443095",
      "name": "Check Is Latest (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// --------------------------------------------------\n// DEBOUNCE CHECK v15 - Atomic latest-message validation\n// After debounce wait, continue only if this message is still latest\n// --------------------------------------------------\n\nconst mergedData = $('Merge Input').first().json;\nconst saveNode = $('Save Incoming Message').first();\n\nlet ourId = null;\nconst savedBody = saveNode.json;\n\nif (Array.isArray(savedBody)) {\n  if (savedBody.length > 0 && savedBody[0]?.id !== undefined) {\n    ourId = savedBody[0].id;\n  }\n} else if (savedBody && typeof savedBody === 'object') {\n  if (savedBody.id !== undefined) {\n    ourId = savedBody.id;\n  }\n}\n\nif (ourId === null || ourId === undefined) {\n  return [{ json: { ...mergedData, should_continue: false, debug: 'could_not_extract_saved_message_id' } }];\n}\n\nconst rpcResult = $('Check Is Latest (RPC)').first().json;\n\nlet isLatest = false;\nif (typeof rpcResult === 'boolean') {\n  isLatest = rpcResult;\n} else if (Array.isArray(rpcResult) && rpcResult.length > 0) {\n  isLatest = rpcResult[0] === true || rpcResult[0]?.check_is_latest_message === true;\n} else if (rpcResult && typeof rpcResult === 'object') {\n  isLatest = rpcResult.check_is_latest_message === true || rpcResult.result === true;\n}\n\nif (!isLatest) {\n  return [{ json: { ...mergedData, should_continue: false, debug: 'not_latest' } }];\n}\n\nreturn [{ json: { ...mergedData, should_continue: true, our_id: ourId } }];\n"
      },
      "id": "a1398b20-906a-44ed-bf4d-fa5be4eff288",
      "name": "Debounce Check v14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-latest",
              "leftValue": "={{ $json.should_continue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ace1160-fcf9-404e-8f6a-12d2935d4290",
      "name": "Is Latest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?manychat_id=eq.{{ $('Merge Input').first().json.subscriber_id }}&role=eq.user&order=created_at.desc&limit=12&created_at=gte.{{ new Date(Date.now() - 40000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 7000
        }
      },
      "id": "dabcd75c-af48-4ef8-a360-e3c2bef9adbf",
      "name": "Fetch Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Anchor node so Merge & Aggregate runs even when recent fetch returns empty.\nreturn [{ json: $input.first().json }];"
      },
      "id": "ensure-merge-input-001",
      "name": "Ensure Merge Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// --------------------------------------------------\n// MERGE & AGGREGATE recent user messages v15\n// Consolidates burst messages from the last 40 seconds into one reply\n// --------------------------------------------------\n\nconst mergedData = $('Debounce Check v14').first().json;\n\nlet recentRaw = [];\ntry {\n  recentRaw = $('Fetch Recent Messages').all();\n} catch (e) {\n  recentRaw = [];\n}\n\nconst byId = new Map();\nfor (const item of recentRaw) {\n  const payload = item.json;\n  const rows = Array.isArray(payload) ? payload : [payload];\n  for (const row of rows) {\n    if (!row || row.id === undefined || row.id === null) continue;\n    byId.set(row.id, row);\n  }\n}\n\nconst recentMessages = [...byId.values()]\n  .filter((row) => row.role === 'user')\n  .sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\nif (recentMessages.length <= 1) {\n  return [{ json: { ...mergedData, messages_merged: 1 } }];\n}\n\nconst combined = recentMessages\n  .map((m) => String(m.message || '').trim())\n  .filter((m) => m && m !== '(vacío)')\n  .join(' ');\n\nreturn [{\n  json: {\n    ...mergedData,\n    user_message: combined || mergedData.user_message,\n    messages_merged: recentMessages.length\n  }\n}];\n"
      },
      "id": "1ddd45c4-8547-4951-83cd-b2bd06b9e7f3",
      "name": "Merge & Aggregate Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/upsert_customer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_manychat_id\": \"{{ $json.subscriber_id }}\",\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_whatsapp_phone\": \"{{ $json.phone }}\",\n  \"p_first_name\": \"{{ $json.first_name }}\",\n  \"p_last_name\": \"{{ $json.last_name }}\",\n  \"p_timezone\": \"{{ $json.timezone }}\",\n  \"p_is_salta_phone\": {{ $json.is_salta_phone || false }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "59fe2b7d-8178-4491-9e55-a9d0e8df295a",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/v_customer_context?manychat_id=eq.{{ $('Merge & Aggregate Messages').first().json.subscriber_id }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "9d7e9c3c-22f5-47e9-92ca-eef5244225bc",
      "name": "Fetch Customer Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/v_recent_conversations?manychat_id=eq.{{ $('Merge & Aggregate Messages').first().json.subscriber_id }}&limit=8&order=created_at.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "ea9bac8d-3fe7-404a-97f5-fcdf865361db",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/v_product_catalog?order=category,price_ars.desc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "5855530f-fd81-49cc-85c8-7ce31b4e2184",
      "name": "Fetch Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// BUILD AI CONTEXT v17 - handoff consistency + product maps for image logic\n// =============================================\n\nif ($input.context.itemIndex > 0) return [];\n\nconst merged = $('Merge & Aggregate Messages').first().json;\n\n// --- Customer Profile ---\nlet customerData = {};\ntry {\n  const raw = $('Fetch Customer Profile').first().json;\n  if (Array.isArray(raw) && raw.length > 0) customerData = raw[0];\n  else if (raw && raw.manychat_id) customerData = raw;\n} catch (e) {\n  customerData = {};\n}\n\n// --- Conversation History ---\nlet historyRows = [];\ntry {\n  const items = $('Fetch Conversation History').all();\n  for (const item of items) {\n    const d = item.json;\n    if (Array.isArray(d)) historyRows.push(...d);\n    else if (d && d.role && d.message) historyRows.push(d);\n  }\n} catch (e) {\n  historyRows = [];\n}\n\n// --- Product Catalog + IMAGE/STOCK MAPS ---\nlet productRows = [];\nlet productImages = {};\nlet productKeyNameMap = {};\nlet productStockMap = {};\n\ntry {\n  const items = $('Fetch Products').all();\n  for (const item of items) {\n    let d = item.json;\n    if (d && d.data && Array.isArray(d.data)) d = d.data;\n\n    const rows = Array.isArray(d) ? d : (d ? [d] : []);\n    for (const p of rows) {\n      if (!p || !p.product_key) continue;\n\n      productRows.push(p);\n      productKeyNameMap[p.product_key] = String(p.product_name || '').trim();\n      productStockMap[p.product_key] = p.in_stock;\n\n      const url = p.image_url || p.image || p.url;\n      if (url && String(url).startsWith('http')) {\n        productImages[p.product_key] = String(url).trim();\n      }\n    }\n  }\n} catch (e) {\n  productRows = [];\n}\n\n// --- Human Active Check (ManyChat flag + DB flag) ---\nconst incomingHumanActive = merged.is_human_active === true;\nconst customerHumanAssigned = customerData.human_assigned === true;\nconst humanAssigned = incomingHumanActive || customerHumanAssigned;\n\nif (humanAssigned) {\n  return [{\n    json: {\n      skip_ai: true,\n      reason: incomingHumanActive ? 'manychat_human_active' : 'customer_human_assigned',\n      subscriber_id: merged.subscriber_id,\n      first_name: merged.first_name,\n      phone: merged.phone,\n      user_message: merged.user_message,\n      was_audio: merged.was_audio,\n      customer_id: customerData.id || null,\n      customer_profile: customerData,\n      product_images: productImages,\n      product_key_name_map: productKeyNameMap,\n      product_stock_map: productStockMap\n    }\n  }];\n}\n\n// --- Format conversation history ---\nhistoryRows.sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\nlet historyText = '';\nif (historyRows.length > 0) {\n  historyText = historyRows.map((h) => {\n    const role = h.role === 'user' ? 'CLIENTE' : h.role === 'bot' ? 'TECHNOBOT' : 'ASESOR HUMANO';\n    const time = h.created_at\n      ? new Date(h.created_at).toLocaleString('es-AR', { timeZone: 'America/Argentina/Salta' })\n      : '';\n    return `[${role}] ${time}: ${h.message}`;\n  }).join('\\n');\n} else {\n  historyText = '(Primera interacción con este cliente)';\n}\n\n// --- Customer profile summary ---\nlet profileText = '';\nif (customerData.manychat_id) {\n  const parts = [];\n  if (customerData.city) parts.push(`Ciudad: ${customerData.city}`);\n  if (customerData.is_salta_capital !== null && customerData.is_salta_capital !== undefined) {\n    parts.push(`Salta Capital: ${customerData.is_salta_capital ? 'SÍ' : 'NO'}`);\n  }\n  if (customerData.preferred_brand) parts.push(`Marca preferida: ${customerData.preferred_brand}`);\n  if (customerData.preferred_budget) parts.push(`Rango: ${customerData.preferred_budget}`);\n  if (customerData.interested_product) parts.push(`Producto interés: ${customerData.interested_product}`);\n  if (customerData.funnel_stage) parts.push(`Etapa: ${customerData.funnel_stage}`);\n  parts.push(`Interacciones: ${customerData.total_interactions || 1}`);\n  if (customerData.last_bot_interaction) {\n    parts.push(`Última interacción: ${new Date(customerData.last_bot_interaction).toLocaleDateString('es-AR')}`);\n  }\n  profileText = parts.length > 0 ? parts.join(' | ') : '(Sin datos previos)';\n} else {\n  profileText = '(Cliente nuevo)';\n}\n\nconst isFirstInteraction = historyRows.length === 0;\n\n// --- Format product catalog ---\nconst productsByCategory = {};\nfor (const p of productRows) {\n  const category = p.category || 'GENERAL';\n  if (!productsByCategory[category]) productsByCategory[category] = [];\n\n  const specs = [];\n  if (p.ram_gb) specs.push(`${p.ram_gb}GB RAM`);\n  if (p.storage_gb) specs.push(`${p.storage_gb}GB`);\n  if (p.network) specs.push(String(p.network).toUpperCase());\n  if (p.color) specs.push(p.color);\n\n  const specsStr = specs.length > 0 ? ` (${specs.join(', ')})` : '';\n  let line = `${p.product_name}${specsStr} — $${Number(p.price_ars).toLocaleString('es-AR')}`;\n  if (p.promo_price_ars) line += ` | PROMO: $${Number(p.promo_price_ars).toLocaleString('es-AR')}`;\n  if (p.price_usd) line += ` (USD ${p.price_usd})`;\n  if (p.delivery_type === 'on_order') line += ` [A PEDIDO - ${p.delivery_days} días]`;\n  if (p.in_stock === false) line += ' [SIN STOCK]';\n  if (p.bancarizada_cuota) line += ` | Bancarizada 6c: $${Number(p.bancarizada_cuota).toLocaleString('es-AR')}`;\n  if (p.macro_cuota) line += ` | Macro 6c: $${Number(p.macro_cuota).toLocaleString('es-AR')}`;\n  productsByCategory[category].push(line);\n}\n\nlet inventoryText = '';\nfor (const [cat, products] of Object.entries(productsByCategory)) {\n  inventoryText += `\\n[${cat}]\\n`;\n  inventoryText += products.join('\\n');\n  inventoryText += '\\n';\n}\n\nconst storePolicies = [\n  'Pagos: transferencia en pesos, transferencia en dólares, Bitcoin y USDT (TRC-20) 0% recargo, efectivo en Salta Capital.',\n  'No hacemos créditos personales.',\n  'Envíos GRATIS a sucursal (BusPack/Flecha Carga, OCA o Vía Cargo), sin costo de despacho ni embalaje.',\n  'Envíos a partir de 72 horas hábiles. Entrega presencial en Salta Capital en el día. Interior de Salta en 24 hs.'\n].join('\\n');\n\nconst chatInput = `[CLIENTE: ${merged.first_name}]\n[MENSAJE ACTUAL: ${merged.user_message || '(mensaje vacío - el cliente abrió el chat)'}]\n${merged.was_audio ? '[NOTA: El cliente envió un audio que fue transcripto]' : ''}\n[ES PRIMERA INTERACCIÓN: ${isFirstInteraction ? 'SÍ' : 'NO'}]\n[HORA ACTUAL: ${new Date().toLocaleString('es-AR', {\n  timeZone: 'America/Argentina/Salta',\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n})}]\n\n[POLÍTICAS TIENDA]\\n${storePolicies}\n\n[PERFIL DEL CLIENTE]\n${profileText}\n\n[HISTORIAL DE CONVERSACIÓN]\n${historyText}\n\n[INVENTARIO COMPLETO (${productRows.length} productos)]\n${inventoryText}`;\n\nreturn [{\n  json: {\n    skip_ai: false,\n    chatInput,\n    subscriber_id: merged.subscriber_id,\n    first_name: merged.first_name,\n    phone: merged.phone,\n    user_message: merged.user_message,\n    was_audio: merged.was_audio,\n    customer_id: customerData.id || null,\n    customer_profile: customerData,\n    product_images: productImages,\n    product_key_name_map: productKeyNameMap,\n    product_stock_map: productStockMap\n  }\n}];\n"
      },
      "id": "404304dd-32f8-45e0-b698-205756ad652e",
      "name": "Build AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-human",
              "leftValue": "={{ $json.skip_ai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "719a7faf-d3e6-47a3-8efb-101cb65d7ac9",
      "name": "Human Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { skip_send: true, subscriber_id: data.subscriber_id } }];"
      },
      "id": "62bb9584-e46c-4153-ae83-e9e16eb6dc26",
      "name": "Skip (Human Active)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos el asistente de WhatsApp de TechnoStore Salta. Te llamás TechnoBot.\n\n🚨 REGLA CRÍTICA – PRIMERA INTERACCIÓN\nSi el mensaje del cliente dice exactamente \"(mensaje vacío - el cliente abrió el chat)\"\nY [ES PRIMERA INTERACCIÓN] es SÍ:\n→ RESPONDÉ ÚNICAMENTE con:\n😊 ¡Hola [nombre]! ¿Cómo andás? Bienvenido a TechnoStore Salta 👋\nContame qué celular estás buscando o con qué te puedo ayudar, te atiendo al toque.\nLuego agregá el bloque ---METADATA--- (intent: greeting, funnel_update: new, etc.).\nProhibido usar \"¿En qué te puedo ayudar?\" en primera interacción. Esta regla anula todo.\n\n🎯 TU ROL\nAsistente útil, rápido y confiable. Tu prioridad:\n1. Saludar amigablemente cuando corresponde\n2. Responder preguntas sobre precios, stock, cuotas, envíos, colores, specs y disponibilidad\n3. Ayudar al cliente a decidir con info clara y directa\n4. Derivar a humano SOLO cuando no puedas resolver o el cliente lo pida\n\nPERSONALIDAD Y TONO\n* Español argentino: vos, tenés, querés, dale, genial, joya, bárbaro.\n* Amigable, cercano, directo. Máximo 3 oraciones. Máximo 1-2 emojis.\n* No apures ni hagas preguntas innecesarias.\n* Si el cliente manda varios mensajes seguidos, respondé UNA sola vez consolidando todo.\n* NUNCA repitas el nombre después del primer mensaje.\n* Si ya diste la info → no repitas. Cerrá con \"Cualquier cosa escribime 👋\".\n* NUNCA muestres ni pidas códigos internos, product_key, IDs, slugs o strings técnicos al cliente.\n\nCOMPRENSIÓN DEL ESPAÑOL ARGENTINO\nCONFIRMACIONES: \"No, ese\"/\"Noo ese\" = \"ese quiero\". \"Sii\"/\"Dale\"/\"Va\"/\"Genial\"/\"Joya\"/\"Bárbaro\" = sí.\nNEGACIONES: \"Nah\"/\"Na\"/\"No gracias\"/\"Paso\" = no.\nDESPEDIDAS: \"Gracias\"/\"Grax\"/\"Suerte\" → \"Dale, cualquier cosa escribime 👋\" y NADA MÁS.\nSi hay ambigüedad → preguntá UNA sola vez.\n\n⚠️ DERIVAR A [HUMAN]\nDerivá inmediatamente cuando:\n* Pide hablar con persona/asesor/Joaco/Joaquín\n* Post-venta: \"ya pagué\", \"cuándo llega\", \"mi pedido\", \"retiro\", \"seguimiento de compra\"\n* Reclamo, queja, devolución, problema con compra\n* Reparación, servicio técnico, canje\n* Negociación compleja: \"si entrego X...\", \"descuento si pago en efectivo?\"\n* Mensaje ambiguo que no podés resolver\n* Cliente insiste en algo que no vendés\nEn todos los demás casos → RESPONDÉ con la info disponible.\n\n\n\n🔒 DATOS FIJOS DE TIENDA (NO NEGAR NI CONTRADECIR)\n* SÍ aceptamos Bitcoin y USDT (TRC-20) con 0% recargo.\n* También aceptamos transferencia bancaria en pesos, transferencia en dólares y efectivo (pesos/dólares) solo en Salta Capital.\n* NO hacemos créditos personales.\n* Envíos GRATIS a sucursal (BusPack/Flecha Carga, OCA o Vía Cargo), sin costo de despacho ni embalaje.\n* Envíos desde 72 horas hábiles.\n* Entrega presencial en Salta Capital: en el día.\n* Interior de Salta: 24 hs.\n\nHERRAMIENTAS (OBLIGATORIO USAR CORRECTAMENTE)\n- Usá \"info_tienda\" cuando pregunten ubicación, horarios, formas de pago, envíos o tracking. NUNCA escribas [info_tienda: ...] en la respuesta: LLAMÁ la herramienta y poné el TEXTO que devuelve en tu mensaje.\n- Si preguntan por BTC/Bitcoin/USDT/TRC-20 o medios de pago, SIEMPRE llamá info_tienda y respondé que sí se acepta (según la política vigente).\n- En respuestas al cliente, jamás uses la palabra \"product_key\" ni pidas códigos. Pedí solo nombre/modelo/capacidad en lenguaje natural.\n- Si el cliente pide fotos/imágenes, en metadata `products:` poné SIEMPRE product_key exacto del inventario (nunca alias tipo \"a17\"). Si no sabés qué variante exacta, pedí una única aclaración breve.\n- Lo mismo con calcular_cuotas: llamala y usá el resultado, nunca el nombre de la tool.\n- Usá \"calcular_cuotas\" SOLO cuando el cliente pregunte explícitamente por cuotas/financiación.\n- NUNCA ofrezcas cuotas proactivamente. SIEMPRE priorizá contado.\n\nREGLAS DE PRECIOS\n* price_ars = contado. Formateá con puntos: $712.480\n* Si hay promo_price_ars → mencioná ambos: \"contado $712.480, promo $699.999 💥\"\n* price_usd SOLO si pregunta en dólares\n* NUNCA inventes descuentos. Si piden → máximo 2%, sino [HUMAN].\n\n📸 IMÁGENES (products:)\nSOLO incluí product_keys en \"products:\" cuando el cliente pida EXPLÍCITAMENTE fotos/imágenes.\nPalabras clave: \"foto\", \"fotos\", \"imagen\", \"imágenes\", \"mostrame\", \"mostrá\", \"mandame\", \"quiero ver\", \"envíame\".\nFormato en metadata: products: key1, key2 (usar product_key EXACTO del catálogo, ej: samsung_s25_ultra_12_512). NUNCA pongas \"products:\" en el texto visible.\nNo digas \"te mando foto\" si no estás seguro de que existe imagen. Si falta foto, decí claramente que no hay fotos disponibles de ese modelo.\nSi el cliente pide foto sin decir modelo, ofrecé una lista corta (3-4) de modelos de los que sí hay foto y pedile que elija uno.\nEn todos los demás casos → \"products: none\". Pecar de conservador.\n\nCATÁLOGO\nCuando pida \"precios\"/\"catálogo\"/\"qué tienen\"/\"lista\":\n→ Si >10 productos, primero ofrecé: \"Manejamos iPhone, Samsung, Redmi/POCO/Xiaomi. ¿De cuál querés ver?\"\n→ Solo cuando diga la marca → enviá esa sección.\n→ Si insiste en \"todos\" → dividí en varios mensajes.\n→ Si pide listado completo, enviá 2-3 mensajes separados por marca (iPhone / Samsung / Redmi-POCO), no un bloque gigante.\nNO vendemos: tablets, accesorios, fundas, auriculares, notebooks, parlantes.\n\nCONCIENCIA DE CONTEXTO (CRÍTICO)\n* Si ya sabés la ciudad → no preguntes de nuevo\n* Si ya diste precio/cuotas/info → NO lo repitas\n* Mantené el producto en foco hasta que cambie explícitamente\n\nPROCESO DE CIERRE\nSolo con señales claras (\"lo quiero\", \"¿cómo compro?\", \"dale va\"):\nRecopilá: PRODUCTO + FORMA DE PAGO + ENTREGA → resumen + [HUMAN].\n\n⚠️ NO PIENSES EN VOZ ALTA\nProhibido: \"no, espera\", \"me confundí\", \"a ver...\", \"dejame pensar\".\nSi no estás seguro → \"Dejame confirmar eso con el equipo\" + [HUMAN].\n\n🕐 DERIVACIÓN FUERA DE HORARIO\nVos atendés 24/7. El horario solo aplica para humanos.\nHorario humano: Lun-Vie 10:00-13:00 y 18:00-21:00 | Sáb 10:00-13:00 | Dom cerrado.\nLa hora actual está en [HORA ACTUAL].\nSi necesitás [HUMAN] fuera de horario → respondé lo que puedas + \"Te van a escribir [próximo turno] 🙌\".\n\n📊 METADATA (SIEMPRE al final)\n---METADATA---\nintent: [greeting|price_inquiry|stock_check|comparison|purchase_intent|cuotas_inquiry|shipping_inquiry|complaint|off_topic|followup|ambiguous]\nproducts: product_key1, product_key2 (sin corchetes) o none\nfunnel_update: [new|browsing|interested|closing|human_handoff|no_change]\ncity_detected: [ciudad o 'none']\nis_salta: [true|false|unknown]\nbrand_interest: [IPHONE|SAMSUNG|REDMI/POCO|none]\nbudget_hint: [budget|mid|premium|none]\n---END_METADATA---\n* [HUMAN] va ANTES del bloque metadata.\n* funnel_update SOLO avanza (nunca retrocede).\n* [SILENT] va SOLO, sin texto ni metadata.\n\nREGLAS ESTRICTAS\n1. NUNCA inventes productos, precios, colores, RAM, stock o specs.\n2. in_stock=true → \"Sí, lo tenemos.\" Sin rodeos.\n3. NUNCA reveles cost_usd, margin_pct, etc.\n4. NUNCA repitas info ya dada.\n5. Cuotas SOLO presencial Salta Capital, SOLO 6 cuotas (usá la tool).\n6. Si el color está vacío/null → derivá, nunca inventes.\n",
          "maxIterations": 5
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "183154fc-3221-4dfe-99df-a4d2cd596ba0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3840,
        288
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "6c8507f8-4ac7-4d80-9846-c481087d48bd",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3700,
        520
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "kaLPLSecsHfc5vlx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "info_tienda",
        "description": "Devuelve información de TechnoStore Salta: ubicación, dirección, horarios de atención, formas de pago aceptadas, información de envíos, tracking y redes sociales. Usala cuando el cliente pregunte por ubicación, horarios, cómo pagar, envíos, seguimiento, o datos de la tienda.",
        "jsCode": "// Tool: info_tienda\n// Fuente de verdad para datos de tienda, pagos y envíos\nconst query = $input.first().json.query || '';\nconst q = query.toLowerCase();\n\nconst info = {\n  ubicacion: \"📍 Caseros 1365, Salta Capital. Diagonal a OCA, enfrente del Sindicato de Camioneros.\",\n  horarios: \"🕐 Lunes a Viernes: 10:00-13:00 y 18:00-21:00 | Sábados: 10:00-13:00 | Domingos: cerrado.\",\n  redes: \"📱 Instagram y Facebook: @technostore.salta\",\n  pagos: \"💳 Medios de pago: transferencia bancaria en pesos, transferencia en dólares (cotiza dólar crypto), Bitcoin y USDT (TRC-20) con 0% recargo, y efectivo en pesos o dólares (solo Salta Capital). ❌ No hacemos créditos personales.\",\n  envios: \"📦 Envíos GRATIS a sucursal (BusPack/Flecha Carga, OCA o Vía Cargo). No cobramos despacho ni embalaje. El envío se realiza a partir de las 72 horas hábiles. En Salta Capital se coordina entrega presencial en el día. Interior de Salta: entregas en 24 hs.\",\n  tracking: \"Siempre enviamos el número de seguimiento apenas despachamos para rastrear el paquete.\",\n  garantia: \"Todos los equipos son nuevos con garantía oficial del fabricante.\"\n};\n\nlet result = '';\nif (q.includes('ubica') || q.includes('direcc') || q.includes('donde') || q.includes('dónde') || q.includes('local')) {\n  result = info.ubicacion;\n} else if (q.includes('horario') || q.includes('hora') || q.includes('abierto') || q.includes('atiend')) {\n  result = info.horarios;\n} else if (\n  q.includes('pago') || q.includes('tarjeta') || q.includes('transfer') || q.includes('cripto') || q.includes('crypto')\n  || q.includes('bitcoin') || q.includes('btc') || q.includes('usdt') || q.includes('trc20') || q.includes('efectivo')\n  || q.includes('credito') || q.includes('crédito')\n) {\n  result = info.pagos;\n} else if (q.includes('envío') || q.includes('envio') || q.includes('envía') || q.includes('envia') || q.includes('mandan') || q.includes('despacho') || q.includes('shipping')) {\n  result = info.envios;\n} else if (q.includes('seguimiento') || q.includes('tracking') || q.includes('rastreo') || q.includes('rastrear')) {\n  result = info.tracking;\n} else if (q.includes('instagram') || q.includes('face') || q.includes('red')) {\n  result = info.redes;\n} else if (q.includes('garantia') || q.includes('garantía')) {\n  result = info.garantia;\n} else {\n  result = Object.values(info).join('\\n');\n}\n\nreturn result;\n",
        "language": "javaScript"
      },
      "id": "137dea06-ca21-4fbf-9274-3b34c664a6dc",
      "name": "Tool: info_tienda",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        3800,
        720
      ]
    },
    {
      "parameters": {
        "name": "calcular_cuotas",
        "description": "Calcula cuotas para un producto. SOLO usar cuando el cliente pregunte EXPLÍCITAMENTE por cuotas o financiación. Necesita el product_key y si el cliente es de Salta Capital. Formato: 'product_key: xxx, salta: true/false'. Las cuotas son SOLO presenciales en Salta Capital, 6 cuotas fijas.",
        "jsCode": "// Tool: calcular_cuotas\n// Regla comercial de cuotas (sin exponer identificadores internos)\nconst query = $input.first().json.query || '';\nconst q = String(query || '').toLowerCase();\n\nlet esSalta = null;\nconst saltaMatch = q.match(/salta[:\\s]*(true|false|si|sí|no|unknown)/i);\nif (saltaMatch) {\n  const val = saltaMatch[1].toLowerCase();\n  esSalta = (val === 'true' || val === 'si' || val === 'sí');\n}\n\nif (esSalta === false) {\n  return 'Las cuotas son SOLO presenciales en Salta Capital. Para envíos a otras ciudades las opciones son transferencia bancaria (pesos o dólares), Bitcoin/USDT (0% recargo) o efectivo presencial. No se puede hacer cuotas por envío.';\n}\n\nif (esSalta === null) {\n  return 'Necesito confirmar si estás en Salta Capital para calcular cuotas, porque las cuotas son solo presenciales en Salta Capital.';\n}\n\nconst hasModelHint = /(iphone|samsung|redmi|poco|xiaomi|a\\d{2}|s\\d{2}|\\d\\+\\d{3}|\\b\\d{2}\\b)/i.test(query);\nif (!hasModelHint) {\n  return 'Para calcular cuotas exactas decime el modelo y la capacidad (por ejemplo: A56 8+256 o A56 12+256). No necesito códigos internos.';\n}\n\nreturn `Reglas de cuotas (cliente en Salta Capital):\n- Cuotas disponibles SOLO presencial en Salta Capital\n- 6 cuotas fijas (no hay 3, 9, 12 ni otras opciones)\n- Opciones: Bancarizada 6 cuotas o Macro 6 cuotas (usá los montos del catálogo)\n- NO aceptamos Naranja ni SubCrédito\n- El cliente debe venir al local: Caseros 1365, Salta Capital\n- Siempre destacar primero el precio de contado como opción principal`;\n",
        "language": "javaScript"
      },
      "id": "868ad70d-1067-4666-906e-6a6ffa332f36",
      "name": "Tool: calcular_cuotas",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        4000,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Post-process AI response v18 + strict image rules + anti-internal-id guard + brand catalog splitting\nconst aiOutput = $input.first().json;\nconst mergedData = $('Merge & Aggregate Messages').first().json;\nconst contextData = $('Build AI Context').first().json;\n\nconst normalize = (value) => String(value || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s_-]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst escapeRegExp = (value) => String(value).replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nconst parseProducts = (rawValue) => {\n  const raw = String(rawValue ?? '').trim();\n  if (!raw || raw.toLowerCase() === 'none') return [];\n\n  const cleaned = raw\n    .replace(/^\\[/, '')\n    .replace(/\\]$/, '')\n    .replace(/[\"']/g, '');\n\n  const pieces = cleaned\n    .split(/[,;|\\n]/)\n    .map((p) => p.trim().toLowerCase())\n    .filter(Boolean)\n    .filter((p) => p !== 'none')\n    .filter((p) => /^[a-z0-9_-]+$/i.test(p));\n\n  return [...new Set(pieces)];\n};\n\nconst scoreToken = (token) => (/[a-z]*\\d+[a-z]*/.test(token) ? 4 : 1);\n\nconst productImagesMap = contextData.product_images || {};\nconst productKeyNameMap = contextData.product_key_name_map || {};\nconst productStockMap = contextData.product_stock_map || {};\n\nconst catalog = Object.keys(productImagesMap).map((key) => ({\n  key,\n  keyNorm: normalize(key),\n  name: String(productKeyNameMap[key] || key).trim(),\n  nameNorm: normalize(productKeyNameMap[key] || ''),\n  inStock: productStockMap[key],\n  imageUrl: String(productImagesMap[key] || '').trim(),\n}));\n\nconst keyAliasPairs = Object.entries(productKeyNameMap).flatMap(([key, name]) => {\n  const human = String(name || key).trim();\n  const variants = [key, key.replace(/_/g, '-'), key.replace(/-/g, '_')];\n  return [...new Set(variants)].map((variant) => ({ alias: variant, human }));\n});\n\nconst sanitizeInternalIds = (text) => {\n  let out = String(text || '');\n\n  out = out\n    .replace(/\\bError:\\s*/gi, '')\n    .replace(/product[_\\s-]?keys?/gi, 'modelos')\n    .replace(/c[oó]digos?\\s+internos?/gi, 'modelos')\n    .replace(/`([^`]+)`/g, '$1');\n\n  for (const pair of keyAliasPairs) {\n    const re = new RegExp(`\\\\b${escapeRegExp(pair.alias)}\\\\b`, 'gi');\n    out = out.replace(re, pair.human);\n  }\n\n  // Any remaining long internal-style slug gets masked\n  out = out.replace(/\\b[a-z0-9]+(?:[-_][a-z0-9]+){3,}\\b/gi, 'ese modelo');\n\n  return out.replace(/\\s{2,}/g, ' ').trim();\n};\n\nconst resolveProductKey = (candidateRaw) => {\n  const candidate = normalize(candidateRaw);\n  if (!candidate) return null;\n\n  const exact = catalog.find((p) => p.keyNorm === candidate);\n  if (exact) return exact.key;\n\n  const starts = catalog.filter((p) => p.keyNorm.startsWith(candidate));\n  if (starts.length === 1) return starts[0].key;\n\n  const partial = catalog\n    .map((p) => {\n      let score = 0;\n      if (p.keyNorm.includes(candidate)) score += 5;\n      if (p.nameNorm.includes(candidate)) score += 4;\n      return { key: p.key, score };\n    })\n    .filter((x) => x.score > 0)\n    .sort((a, b) => b.score - a.score || a.key.length - b.key.length);\n\n  return partial.length > 0 ? partial[0].key : null;\n};\n\nconst inferProductKeysFromText = (text, limit = 3) => {\n  const t = normalize(text);\n  if (!t) return [];\n\n  const tokens = [...new Set(\n    t.split(/\\s+/)\n      .map((w) => w.trim())\n      .filter((w) => w.length >= 3 || /[a-z]*\\d+[a-z]*/.test(w))\n  )];\n\n  const scored = catalog.map((p) => {\n    let score = 0;\n\n    if (t.includes(p.keyNorm)) score += 12;\n    if (p.nameNorm && t.includes(p.nameNorm)) score += 10;\n\n    for (const token of tokens) {\n      const tokenScore = scoreToken(token);\n      if (p.keyNorm.includes(token)) score += tokenScore;\n      if (p.nameNorm.includes(token)) score += tokenScore;\n    }\n\n    if (p.inStock === false) score -= 2;\n    return { key: p.key, score };\n  });\n\n  return scored\n    .filter((x) => x.score >= 4)\n    .sort((a, b) => b.score - a.score)\n    .slice(0, limit)\n    .map((x) => x.key);\n};\n\nconst unique = (arr) => [...new Set(arr.filter(Boolean))];\n\nlet responseText = aiOutput.output || aiOutput.text || 'Disculpá, hubo un error. ¿Podés repetir tu consulta?';\n\nconst isSilent = responseText.trim() === '[SILENT]' || responseText.includes('[SILENT]');\nif (isSilent) {\n  return [{\n    json: {\n      is_silent: true,\n      payload: null,\n      needs_human: false,\n      clean_text: '',\n      metadata: { intent: 'followup', funnel_update: 'no_change', products: 'none' },\n      products_list: [],\n      subscriber_id: mergedData.subscriber_id,\n      user_message: mergedData.user_message,\n      was_audio: mergedData.was_audio,\n      customer_id: contextData.customer_id,\n      current_funnel_stage: contextData.customer_profile?.funnel_stage || null\n    }\n  }];\n}\n\nlet metadata = {};\nconst metaMatch = responseText.match(/---METADATA---(.*?)---END_METADATA---/s);\nif (metaMatch) {\n  const metaLines = metaMatch[1].trim().split('\\n');\n  for (const line of metaLines) {\n    const [key, ...valueParts] = line.split(':');\n    if (key && valueParts.length > 0) {\n      metadata[key.trim()] = valueParts.join(':').trim();\n    }\n  }\n}\n\nconst needsHuman = responseText.includes('[HUMAN]');\n\nlet cleanText = responseText\n  .replace(/---METADATA---[\\s\\S]*?---END_METADATA---/g, '')\n  .replace(/\\[HUMAN\\]/g, '')\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/^#+\\s/gm, '')\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/\\s*[:：]?\\s*products:\\s*\\[[^\\]]*\\]/gi, '')\n  .replace(/\\s*products:\\s*\\[[^\\]]*\\]/gi, '')\n  .replace(/\\s*products:\\s*[^\\n]+/gi, '')\n  .replace(/en\\s*\\[info_tienda[^\\]]*\\]/gi, '📍 Caseros 1365, Salta Capital. Diagonal a OCA.')\n  .replace(/\\[info_tienda[^\\]]*\\]/gi, '📍 Caseros 1365, Salta Capital. Diagonal a OCA.')\n  .replace(/\\[calcular_cuotas[^\\]]*\\]/gi, '')\n  .replace(/\\[\\w+_?\\w*\\s*:[^\\]]*\\]/g, '')\n  .replace(/,?\\s*en\\s*\\.\\s*,?/gi, '. ')\n  .replace(/\\s{2,}/g, ' ')\n  .trim();\n\ncleanText = sanitizeInternalIds(cleanText);\nif (!cleanText) cleanText = 'Disculpá, ¿me repetís la consulta?';\n\nconst MAX_CHARS = 1600;\nconst MAX_MESSAGES = 8;\n\nconst splitTextSafely = (text, maxChars = MAX_CHARS, maxMessages = MAX_MESSAGES) => {\n  const normalized = String(text || '').replace(/\\r/g, '').trim();\n  if (!normalized) return [];\n\n  const sentenceParts = normalized\n    .split(/\\n+/)\n    .flatMap((part) => part.split(/(?<=[.!?])\\s+/))\n    .map((p) => p.trim())\n    .filter(Boolean);\n\n  const chunks = [];\n  let current = '';\n\n  const pushCurrent = () => {\n    if (current && current.trim()) chunks.push(current.trim());\n    current = '';\n  };\n\n  const appendPiece = (piece) => {\n    if (!piece) return;\n    if (!current) {\n      current = piece;\n      return;\n    }\n    if ((current.length + 1 + piece.length) <= maxChars) {\n      current += ' ' + piece;\n    } else {\n      pushCurrent();\n      current = piece;\n    }\n  };\n\n  for (const part of sentenceParts) {\n    if (part.length <= maxChars) {\n      appendPiece(part);\n      continue;\n    }\n\n    const words = part.split(/\\s+/).filter(Boolean);\n    let local = '';\n\n    const pushLocal = () => {\n      if (local) appendPiece(local.trim());\n      local = '';\n    };\n\n    for (const word of words) {\n      if (word.length > maxChars) {\n        pushLocal();\n        for (let i = 0; i < word.length; i += maxChars) {\n          appendPiece(word.slice(i, i + maxChars));\n        }\n        continue;\n      }\n\n      if (!local) {\n        local = word;\n      } else if ((local.length + 1 + word.length) <= maxChars) {\n        local += ' ' + word;\n      } else {\n        pushLocal();\n        local = word;\n      }\n    }\n\n    pushLocal();\n  }\n\n  pushCurrent();\n\n  if (chunks.length <= maxMessages) return chunks;\n\n  const trimmed = chunks.slice(0, maxMessages);\n  const note = '... Si querés, te paso por marca (iPhone, Samsung o Redmi/POCO) para que sea más claro 👌';\n  const last = trimmed[trimmed.length - 1] || '';\n  const allowed = maxChars - note.length - 1;\n  trimmed[trimmed.length - 1] = (allowed > 50 ? last.slice(0, allowed).trim() : last.slice(0, maxChars - 1).trim()) + '\\n' + note;\n  return trimmed;\n};\n\nconst splitByBrandSections = (text) => {\n  const headingRegex = /(iPhone:|Samsung:|Redmi\\/POCO:|Redmi\\/Poco:|Xiaomi:)/gi;\n  const matches = [...String(text || '').matchAll(headingRegex)];\n  if (matches.length < 2) return null;\n\n  const sections = [];\n  const intro = text.slice(0, matches[0].index).trim();\n  if (intro) sections.push(intro);\n\n  for (let i = 0; i < matches.length; i++) {\n    const start = matches[i].index;\n    const end = i + 1 < matches.length ? matches[i + 1].index : text.length;\n    const section = text.slice(start, end).trim();\n    if (section) sections.push(section);\n  }\n\n  return sections;\n};\n\nconst userMsg = String(mergedData.user_message || '');\nconst explicitlyAskedForImage = /foto|fotos|imagen|imágen|imágenes|imagenes|mostrame|mostrá|ver.*(foto|imagen)|mandame|envíame|envia|quiero ver|photo|picture|foto del|foto de la/i.test(userMsg);\nconst askedFullCatalog = /(todos|todo el|catalogo completo|cat[aá]logo completo|lista completa|android y iphone|iphone y android|todas las marcas|ver todo|mostrar todo)/i.test(userMsg);\n\nconst metadataCandidates = parseProducts(metadata.products);\nlet normalizedProducts = metadataCandidates\n  .map((candidate) => resolveProductKey(candidate))\n  .filter(Boolean);\n\nif (explicitlyAskedForImage && normalizedProducts.length === 0) {\n  const inferredFromUser = inferProductKeysFromText(userMsg, 3);\n  const inferredFromBot = inferProductKeysFromText(cleanText, 3);\n  normalizedProducts = unique([...inferredFromUser, ...inferredFromBot]);\n}\n\nmetadata.products = normalizedProducts.length > 0 ? normalizedProducts.join(', ') : 'none';\n\nlet textChunks = splitTextSafely(cleanText, MAX_CHARS, MAX_MESSAGES);\nif (askedFullCatalog) {\n  const sections = splitByBrandSections(cleanText);\n  if (sections && sections.length >= 2) {\n    const branded = [];\n    for (const sec of sections) {\n      const secChunks = splitTextSafely(sec, MAX_CHARS, 2);\n      branded.push(...secChunks);\n    }\n    if (branded.length > 0) {\n      textChunks = branded.slice(0, MAX_MESSAGES);\n    }\n  }\n}\n\nlet messagesArray = textChunks.length > 0\n  ? textChunks.map((chunk) => ({ type: 'text', text: sanitizeInternalIds(chunk) }))\n  : [{ type: 'text', text: 'Disculpá, ¿me repetís la consulta?' }];\n\nif (explicitlyAskedForImage && normalizedProducts.length === 0) {\n  const profileKey = resolveProductKey(contextData.customer_profile?.interested_product || '');\n  const inStockImageKeys = catalog\n    .filter((p) => p.imageUrl && p.inStock !== false)\n    .map((p) => p.key);\n  const fallbackImageKeys = catalog.filter((p) => p.imageUrl).map((p) => p.key);\n\n  const suggestionKeys = unique([\n    profileKey,\n    ...inStockImageKeys.slice(0, 6),\n    ...fallbackImageKeys.slice(0, 6)\n  ]).slice(0, 4);\n\n  if (suggestionKeys.length > 0) {\n    const suggestionNames = suggestionKeys.map((key) => {\n      const item = catalog.find((p) => p.key === key);\n      return item ? item.name : key;\n    });\n\n    const suggestionMsg = `\\n\\n📸 Tengo fotos de: ${suggestionNames.join(', ')}. Decime cuál querés y te la mando.`;\n    if (!/tengo fotos de|no tengo fotos/i.test(cleanText)) {\n      cleanText = sanitizeInternalIds(cleanText.trim() + suggestionMsg);\n      const textItem = messagesArray.find((m) => m.type === 'text');\n      if (textItem) textItem.text = cleanText;\n    }\n  } else {\n    const noImgGeneric = '\\n\\n⚠️ Por ahora no tengo fotos cargadas para enviarte, pero te paso precio y detalles si querés.';\n    if (!/no tengo|no tenemos/i.test(cleanText)) {\n      cleanText = sanitizeInternalIds(cleanText.trim() + noImgGeneric);\n      const textItem = messagesArray.find((m) => m.type === 'text');\n      if (textItem) textItem.text = cleanText;\n    }\n  }\n}\n\nif (explicitlyAskedForImage && normalizedProducts.length > 0) {\n  const sentNow = new Set();\n  const keysWithoutImage = [];\n\n  for (const key of normalizedProducts) {\n    const item = catalog.find((p) => p.key === key);\n    const imageUrl = item?.imageUrl || '';\n\n    if (imageUrl && !sentNow.has(key)) {\n      messagesArray.push({ type: 'image', url: imageUrl, image_url: imageUrl });\n      sentNow.add(key);\n    } else {\n      keysWithoutImage.push(key);\n    }\n  }\n\n  if (keysWithoutImage.length > 0 && !/no tengo|no tenemos/i.test(cleanText)) {\n    const readable = keysWithoutImage.slice(0, 3).map((key) => {\n      const item = catalog.find((p) => p.key === key);\n      return item ? item.name : key;\n    });\n    const noImgNote = `\\n\\n⚠️ No tengo fotos de ${readable.join(', ')} por el momento. Si querés más info del modelo escribime.`;\n    cleanText = sanitizeInternalIds(cleanText.trim() + noImgNote);\n    const textItem = messagesArray.find((m) => m.type === 'text');\n    if (textItem) textItem.text = cleanText;\n  }\n}\n\nconst payload = {\n  subscriber_id: mergedData.subscriber_id,\n  data: {\n    version: 'v2',\n    content: {\n      type: 'whatsapp',\n      messages: messagesArray\n    }\n  }\n};\n\nreturn [{\n  json: {\n    is_silent: false,\n    payload,\n    needs_human: needsHuman,\n    clean_text: cleanText,\n    metadata,\n    products_list: normalizedProducts,\n    subscriber_id: mergedData.subscriber_id,\n    user_message: mergedData.user_message,\n    was_audio: mergedData.was_audio,\n    customer_id: contextData.customer_id,\n    current_funnel_stage: contextData.customer_profile?.funnel_stage || null\n  }\n}];\n"
      },
      "id": "1cac62d1-8569-4ab9-b25d-3c860eb6809c",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-silent",
              "leftValue": "={{ $json.is_silent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "749f1c18-ff31-422f-b2a8-5f3dc51c00f5",
      "name": "Is Silent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4352,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a0c9c8af-98d9-4a40-8961-365a3043a55f",
      "name": "Send to WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4592,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dTDdJWgAz1yrPfPe",
          "name": "ManyChat API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Process Response').first().json;\nconst metadata = data.metadata || {};\nconst products = Array.isArray(data.products_list) ? data.products_list : [];\n\nreturn [{\n  json: {\n    manychat_id: data.subscriber_id,\n    customer_id: data.customer_id || null,\n    role: 'bot',\n    message: data.clean_text || '(solo imágenes)',\n    message_type: 'text',\n    intent_detected: metadata.intent || null,\n    products_mentioned: products,\n    triggered_human: data.needs_human || false,\n    was_audio: false\n  }\n}];\n"
      },
      "id": "36c68d55-e247-4be5-8dbd-eed829342601",
      "name": "Prep Bot Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "0f07f8c1-7b8b-4e04-8fbf-ac7631c88a84",
      "name": "Save Bot Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4832,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Process Response').first().json;\nconst metadata = data.metadata || {};\nconst products = Array.isArray(data.products_list) ? data.products_list : [];\n\nconst stageRank = {\n  new: 0,\n  browsing: 1,\n  interested: 2,\n  closing: 3,\n  human_handoff: 4\n};\n\nconst currentStage = String(data.current_funnel_stage || '').trim().toLowerCase();\nconst requestedStage = String(metadata.funnel_update || '').trim().toLowerCase();\n\nconst updates = {\n  last_bot_interaction: new Date().toISOString(),\n  updated_at: new Date().toISOString()\n};\n\nif (requestedStage && requestedStage !== 'no_change') {\n  if (stageRank[requestedStage] !== undefined) {\n    if (stageRank[currentStage] === undefined || stageRank[requestedStage] >= stageRank[currentStage]) {\n      updates.funnel_stage = requestedStage;\n    }\n  }\n}\n\nif (metadata.city_detected && metadata.city_detected !== 'none') {\n  let city = metadata.city_detected.trim();\n  const lower = city.toLowerCase();\n  if (['salta', 'salta capital', 'salta cap'].includes(lower)) {\n    city = 'Salta Capital';\n    updates.is_salta_capital = true;\n  }\n  updates.city = city;\n}\n\nif (metadata.is_salta === 'true') updates.is_salta_capital = true;\nelse if (metadata.is_salta === 'false') updates.is_salta_capital = false;\n\nif (metadata.brand_interest && metadata.brand_interest !== 'none') updates.preferred_brand = metadata.brand_interest;\nif (metadata.budget_hint && metadata.budget_hint !== 'none') updates.preferred_budget = metadata.budget_hint;\nif (products.length > 0) updates.interested_product = products[0];\n\nif (data.needs_human) {\n  updates.human_assigned = true;\n  updates.funnel_stage = 'human_handoff';\n}\n\nreturn [{ json: { subscriber_id: data.subscriber_id, updates } }];\n"
      },
      "id": "9363ef63-db62-409e-99da-1b4f2f443a8c",
      "name": "Prep Customer Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        608
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?manychat_id=eq.{{ $json.subscriber_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updates) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "e4efdf20-d6fe-42c7-8f4c-952c17afa5bd",
      "name": "Update Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4832,
        608
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Backfill intent on the user's saved message after AI classification\nconst data = $('Process Response').first().json;\nconst metadata = data.metadata || {};\n\nconst saveNode = $('Save Incoming Message').first();\nlet savedId = null;\nconst savedBody = saveNode.json;\nif (Array.isArray(savedBody) && savedBody.length > 0) {\n  savedId = savedBody[0]?.id;\n} else if (savedBody && savedBody.id) {\n  savedId = savedBody.id;\n}\n\nconst intent = String(metadata.intent || '').trim();\nif (!savedId || !intent) {\n  return [];\n}\n\nreturn [{\n  json: {\n    message_id: savedId,\n    intent\n  }\n}];\n"
      },
      "id": "240ee610-0e44-4499-8592-361394f3258c",
      "name": "Backfill User Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        816
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ intent_detected: $json.intent }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "71fa74f4-2397-49cf-8d34-36b84e87011b",
      "name": "Update User Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4832,
        816
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Link the incoming conversation row to the upserted customer_id (best effort)\nconst upsertRaw = $input.first().json;\n\nconst toIntOrNull = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n};\n\nconst extractCustomerId = (raw) => {\n  if (typeof raw === 'number' && Number.isFinite(raw)) return raw;\n  if (typeof raw === 'string') return toIntOrNull(raw);\n\n  if (Array.isArray(raw) && raw.length > 0) {\n    const first = raw[0];\n    if (typeof first === 'number' && Number.isFinite(first)) return first;\n    if (typeof first === 'string') return toIntOrNull(first);\n    if (first && typeof first === 'object') {\n      if (first.upsert_customer !== undefined && first.upsert_customer !== null) return toIntOrNull(first.upsert_customer);\n      if (first.customer_id !== undefined && first.customer_id !== null) return toIntOrNull(first.customer_id);\n      if (first.id !== undefined && first.id !== null) return toIntOrNull(first.id);\n    }\n  }\n\n  if (raw && typeof raw === 'object') {\n    if (raw.upsert_customer !== undefined && raw.upsert_customer !== null) return toIntOrNull(raw.upsert_customer);\n    if (raw.customer_id !== undefined && raw.customer_id !== null) return toIntOrNull(raw.customer_id);\n    if (raw.id !== undefined && raw.id !== null) return toIntOrNull(raw.id);\n  }\n\n  return null;\n};\n\nconst customerId = extractCustomerId(upsertRaw);\n\nconst saveNode = $('Save Incoming Message').first();\nconst savedBody = saveNode.json;\nlet messageId = null;\nif (Array.isArray(savedBody) && savedBody.length > 0) {\n  messageId = savedBody[0]?.id;\n} else if (savedBody && savedBody.id) {\n  messageId = savedBody.id;\n}\n\nconst parsedMessageId = toIntOrNull(messageId);\nif (!Number.isFinite(customerId) || !Number.isFinite(parsedMessageId)) {\n  return [];\n}\n\nreturn [{\n  json: {\n    message_id: parsedMessageId,\n    customer_id: customerId\n  }\n}];\n"
      },
      "id": "prep-incoming-message-customer-link-v15",
      "name": "Prep Incoming Message Customer Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -80
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/conversations?id=eq.{{ $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customer_id: $json.customer_id }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "backfill-incoming-message-customer-v15",
      "name": "Backfill Incoming Message Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        -80
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Groq Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Input": {
      "main": [
        [
          {
            "node": "Save Incoming Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Incoming Message": {
      "main": [
        [
          {
            "node": "Wait 8s Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8s Debounce": {
      "main": [
        [
          {
            "node": "Check Is Latest (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is Latest (RPC)": {
      "main": [
        [
          {
            "node": "Debounce Check v14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce Check v14": {
      "main": [
        [
          {
            "node": "Is Latest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Latest?": {
      "main": [
        [
          {
            "node": "Fetch Recent Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ensure Merge Input",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Recent Messages": {
      "main": [
        []
      ]
    },
    "Ensure Merge Input": {
      "main": [
        [
          {
            "node": "Merge & Aggregate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Aggregate Messages": {
      "main": [
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          {
            "node": "Fetch Customer Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Incoming Message Customer Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer Profile": {
      "main": [
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Build AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Context": {
      "main": [
        [
          {
            "node": "Human Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Active?": {
      "main": [
        [
          {
            "node": "Skip (Human Active)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Is Silent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Silent?": {
      "main": [
        [],
        [
          {
            "node": "Send to WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Bot Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Customer Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Backfill User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Bot Message": {
      "main": [
        [
          {
            "node": "Save Bot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Customer Update": {
      "main": [
        [
          {
            "node": "Update Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill User Intent": {
      "main": [
        [
          {
            "node": "Update User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: info_tienda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: calcular_cuotas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prep Incoming Message Customer Link": {
      "main": [
        [
          {
            "node": "Backfill Incoming Message Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backfill Incoming Message Customer": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3f610d5e-8dab-4f3d-bc1f-9e4dfc8055a8",
  "tags": []
}
